.prices .info-list:after,
.act .info-list > li:after,
.act .info-list .price-list:after,
.act dl:after,
.act dd:after{
    clear: both;
    display: block;
    content: "";
}
main.prices{
    margin-bottom: 60px;
}
.prices .categories-menu{
    margin-top: 16px;
    margin-bottom: 16px;
}
.act{
    position: relative;
    font-size: 14px;
    color: #000;
    color: rgba(0, 0, 0, .87);
    margin-bottom: 32px;
}
.act.private { margin-bottom: 22px; }
.act h2{
    margin: 0 0 16px;
    opacity: .52;
    font: 18px LatoBold, Serif, sans-serif;
    color: #000;
}
.act h2 span{
    font-family: inherit;
    display: block;
}
.act .info-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.act .info-list > li{
    border-top: 2px solid rgba(0, 0, 0, .04);
    padding: 30px 0 13px;
}
.act .info-list > li:first-child{
    border: none;
    padding-top: 0;
}
.act.empty .info-list > li{padding-bottom: 10px;}
.act .info-list .col-2,
.act .info-list .col{
    padding: 0 0 0 13px;
    float: left;
    width: 57%;
    position: relative;
    min-height: 40px;
}
.act .info-list .col-2{padding-left: 20px;}
.act .info-list .col:first-child{
    padding-left: 0;
}
.act .info-list .col{
    width: 25%;
}
.act .info-list .col:nth-of-type(1){
    width: 18%;
}
.act .info-list .col:first-child:after{
    border: none;
}
.act .info-list .col:after,
.act .info-list .col-2:after{
    position: absolute;
    border-left: 2px solid rgba(0, 0, 0, .04);
    top: 0;
    left: 0;
    bottom: 0;
    content: "";
    height: 24px;
}
.act .curr{margin: 0 10px;}
.prices .button-gradient{
    display: inline-block;
    vertical-align: middle;
    padding: 2px;
    border-radius: 21px;
    -webkit-border-radius: 21px;
    position: relative;
    z-index: 10;
}
.prices .button-gradient.add-btn{
    background: rgb(88,149,243);
    background-image: -moz-linear-gradient(left, rgba(88,149,243,1) 0%, rgba(73,79,199,1) 100%);
    background-image: -webkit-linear-gradient(left, rgba(88,149,243,1) 0%,rgba(73,79,199,1) 100%);
    background-image: linear-gradient(to right, rgba(88,149,243,1) 0%,rgba(73,79,199,1) 100%);
}
.prices .button-gradient.add-btn.orange{
    background: rgb(255,173,108);
    background-image: -moz-linear-gradient(left,  rgba(255,173,108,1) 0%, rgba(255,117,58,1) 100%);
    background-image: -webkit-linear-gradient(left,  rgba(255,173,108,1) 0%,rgba(255,117,58,1) 100%);
    background-image: linear-gradient(to right,  rgba(255,173,108,1) 0%,rgba(255,117,58,1) 100%);
}
.prices .button-gradient.add-btn .btn{
    background: #fff;
    border-radius: 21px;
    -webkit-border-radius: 21px;
    padding: 0 19px;
    height: 25px;
    font-size: 12px;
    color: #000;
    color: rgba(0, 0, 0, .87);
    outline: none;
    transition-property: all;
    transition-duration: 0.2s;
}
.prices .button-gradient.add-btn .btn:active{
    background: rgba(255, 255, 255, 0);
    color: white;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.prices .button-gradient.filled{
    padding: 0;
    background: rgb(255,173,108); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(255,173,108,1) 0%, rgba(255,117,58,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,173,108,1) 0%,rgba(255,117,58,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,173,108,1) 0%,rgba(255,117,58,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.prices .button-gradient.filled .btn{
    background: none;
    color: #fff;
    padding: 0 30px;
    height: 30px;
    outline: none;
}
.prices .button-gradient.filled .btn:active{
    background: rgba(255, 255, 255, 0.7);
    color: rgba(75, 75, 75, 0.64);
    box-shadow: none;
    -webkit-box-shadow: none;
}
.act .row{
    margin: 0 0 26px;
}
.act .text{
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    max-width: 160px;
}
.act .quantity{
    font-size: 15px;
}
.act .ico-box{
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    height: 24px;
}
.act .ico-holder{
    display: inline-block;
    vertical-align: top;
}
.act .frame .ico-box{vertical-align: middle;}
.act .ico{
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    width: 18px;
    height: 24px;
}
.act .ico.edit{
    background: url("../../assets/images/edit.png") no-repeat 50%;
}
.act .ico.delete{
    background: url("../../assets/images/delete-light.png") no-repeat 50%;
}
.act .ico.question{
    text-indent: 9999px;
    background: url("../../assets/images/question.png") no-repeat 50%;
}
.act .price-list{
    position: relative;
    margin: 0 0 -11px;
    list-style: none;
    padding: 0;
}
.act .price-list li{
    display: inline-block;
    vertical-align: top;
    width: 250px;
    padding-right: 5px;
}
/*.act .price-list li:last-child{*/
    /*width: 115px;*/
    /*text-align: center;*/
/*}*/
.act .price-list dl,
.act .price-list dd{
    margin: 0;
}
.act .price-list dl{
    margin-bottom: 20px;
    min-height: 29px;
}
.act .price-list dt{
    float: left;
    max-width: 68px;
    font-weight: normal;
    margin-right: 8px;
}
.act .price-list dd{
    float: left;
}
.act .note-x{
    display: inline-block;
    vertical-align: top;
    margin: -2px 0 0 6px;
}
.act .add{
    font-size: 14px;
    text-decoration: underline;
    position: relative;
    text-align: left;
}
/*.act .price-list .add{padding-top: 1px; position: absolute;}*/
.act .add .ico-box{margin-left: 8px;}
.act .add.alt:after{
    content: "";
    left: -30px;
    height: 50px;
    border-left: 3px solid #fff;
    bottom: 0;
    position: absolute;
    z-index: 1;
}
.act .add a{
    display: inline-block;
    vertical-align: top;
    color: #ff793e;
    text-decoration: underline;
}
.act .add a:hover{text-decoration: none;}
.act .number{margin-right: 3px;}
.act .input-num{
    width: 57px;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    font-size: 15px;
    padding: 0 5px;
    color: #000;
    height: 32px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    margin-top: -5px;
    position: relative;
}
.act .input-num.medium{width: 110px;}
.act .input-num.long{width: 164px;}
.act .input-num.huge{
    width: 274px;
    height: 32px;
    border-width: 2px;
    font-size: 18px;
    border-color: #2d2a2a;
    font-family: LatoBold, Serif, sans-serif;
}
.act .input-num.huge::-webkit-input-placeholder {color: #2d2a2a;}
.act .input-num.huge::-moz-placeholder{color: #2d2a2a;}
.act .input-num.error{border-color: #f00;}
.act .select2{
    height: 32px;
    width: 85px !important;
    background: #fff;
    display: inline-block;
    vertical-align: top;
    margin-right: 0;
    margin-top: -5px;
    margin-left: 10px;
    position: relative;
}
.act .select2-container--default .select2-selection--single{
    background: #fff;
    font-size: 15px;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    height: 32px;

}
.prices .select2-container--default .select2-results__option{
    background: #fff !important;
    padding: 6px 13px !important;
}
.prices .select2-container--open .select2-dropdown--below{
    margin-top: -1px;
    border-radius: 0 0 7px;
    -webkit-border-radius: 0 0 7px;
}
.prices .select2-container--default .select2-selection--single .select2-selection__rendered{
    padding: 0 8px !important;
    line-height: 30px !important;
    font-size: 14px;
}
.prices .select2-container--default .select2-selection--single .select2-selection__arrow{
    right: 4px !important;
    top: 3px;
}
.prices .select2-container--open .select2-dropdown--below .select2-results__options{
    border: 1px solid #e5e5e5 !important;
    border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
}
main.prices .note{
    background: #f7f7f7;
    font-size: 11px;
    color: #000;
    color: rgba(0, 0, 0, .84);
    position: relative;
    height: 26px;
    padding: 3px 10px 1px;
    width: 100%;
    margin-top: -15px;
    text-align: center;
    display: none;
}
.note .btn-close{
    background: url("../../assets/images/close.png") no-repeat;
    width: 12px;
    height: 12px;
    right: 10px;
    position: absolute;
    top: 7px;
    text-indent: -9999px;
    border: none;
}
.act .select2{margin-left: 0;}
.act select.short + .select2{width: 47px !important;}
/*.act.empty .button-gradient.add-btn{margin-top: -82px;}*/
.act-section{
    margin: 0 0 40px;
}
.act-section .heading{
    font-size: 14px;
    height: auto;
    margin-bottom: 40px;
    padding-bottom: 6px;
    text-align: right;
}
.act-section.green .heading{
    color: #4CAA50;
    border-bottom: 2px solid #4CAA50;
}
.act-section.blue .heading{
    color: #6170C5;
    border-bottom: 2px solid #6170C5;
}
.act-section .heading .notify{
    font-style: normal;
}
.act-section .btn-row{margin-top: -45px;}
.act-section .btn-row .button-gradient{margin-right: 20px;}
.fa-trash { padding-left: 12px; color: rgba(121, 121, 121, 0.41); font-size: 22px;}

@media (max-width: 1199px) {
    .act,
    .act .quantity{
        font-size: 14px;
    }
    .act .row{margin-bottom: 15px;}
    .act .price-list dl{margin-bottom: 16px;}
    .act .input-num{
        height: 28px;
        width: 58px;
        font-size: 12px;
    }
    .act .input-num.medium{width: 97px;}
    .act .input-num.long{width: 161px;}
    .act .input-num.huge{
        height: 32px;
        width: 290px;
        font-size: 18px;
    }
    .act .select2{
        height: 28px;
        width: 58px !important;
    }
    .act .select2-container--default .select2-selection--single{
        font-size: 11px;
    }
    .act .price-list li{width: 210px;}
    /*.act .price-list li:last-child{width: 100px;}*/
    .act .select2-container--default .select2-selection--single{
        height: 28px !important;
    }
    .prices .select2-container--default .select2-selection--single .select2-selection__rendered{
        font-size: 10px;
        padding: 0 7px !important;
        line-height: 27px !important;
    }
    .prices .select2-container--default .select2-results__option{
        padding: 3px 7px !important;
        font-size: 11px;
    }
    .prices .select2-container--open .select2-dropdown--below{margin-top: -7px;}
    .prices .select2-container--default .select2-selection--single .select2-selection__arrow{
        right: 2px;
        top: 2px;
    }
    .prices .button-gradient.add-btn .btn{
        height: 27px;
        font-size: 11px;
    }
    .act .price-list dl{
        min-height: 23px;
    }
    .act .price-list .add{padding-top: 0;}
}
@media (max-width: 991px){
    .act .price-list li{
        display: block;
    }
    .act .price-list .ico-holder{
        position: absolute;
        right: 0;
        top: 7px;
    }
    .act .text{max-width: 110px;}
    .act .price-list{margin-bottom: 0;}
    .act .info-list > li{padding: 30px 0;}
    .act-section .btn-row{margin-top: -70px;}
}
@media (max-width: 767px){
    main.prices .container{padding: 0;}
    .act .price-list li:first-child{width: 100%;}
    .act{
        padding: 10px 15px 5px;
        margin-bottom: 15px;
    }
    .act:first-child{
        border-top: 0;
        padding-top: 10px;
    }
    .act .categories-dropdown{
        margin-bottom: 20px;
    }
    .act .info-list .col,
    .act .info-list .col:first-child{
        width: 49%;
        min-height: 0;
        padding: 0 0 6px;
        float: none;
        display: inline-block;
        vertical-align: top;
    }
    .act .info-list .col:last-child{padding: 0;}
    .act .info-list .col:after,
    .act .info-list .col-2:after{border: 0;}
    .act .info-list .col-2{
        padding-top: 0;
        padding-left: 0;
    }
    .act .price-list li{
        padding: 0;
        width: 100%;
    }
    .act .row{position: relative;}
    .act .ico-holder{
        position: absolute;
        right: -15px;
        top: -10px;
        background: #f0f0f0;
        padding: 10px 5px;
    }
    .act .price-list .ico-holder{
        top: -10px;
        right: -15px;
    }
    .act .ico-box{
        margin: 0 13px;
    }
    .act h2{
        margin-bottom: 16px;
        font-size: 17px;
    }
    .act .price-list dl{margin-bottom: 10px;}
    .act .input-num{
        height: 32px;
        width: 74px;
        font-size: 15px;
    }
    .act .input-num.medium{width: 84px;}
    .act .input-num.long{width: 140px;}
    .act .select2{
        height: 32px;
        width: 74px !important;
    }
    .act.empty .button-gradient.add-btn{margin-top: 0;}
    .act .select2-container--default .select2-selection--single,
    .select2-container--default .select2-selection--single .select2-selection__rendered{
        font-size: 15px;
    }
    .act .select2-container--default .select2-selection--single{
        height: 32px !important;
    }
    .prices .select2-container--default .select2-selection--single .select2-selection__rendered{
        padding: 0 13px !important;
        line-height: 33px !important;
    }
    .prices .select2-container--default .select2-results__option{
        padding: 6px 13px !important;
        font-size: 15px;
    }
    .prices .select2-container--open .select2-dropdown--below{margin-top: -7px;}
    .prices .select2-container--default .select2-selection--single .select2-selection__arrow{
        right: 4px;
        top: 5px;
    }
    .act .info-list > li{
        padding: 24px 0;
        border-top: 2px solid rgba(0, 0, 0, .04);
    }
    .act .info-list > li:first-child{border-top: none;}
    .act .price-list dt{margin-right: 6px;}
    main.prices .note{display: block;}
    .act-section{
        padding: 20px 0 0;
        margin: 0 0 20px;
    }
    .act-section .heading{
        font-size: 14px;
        text-align: center;
        margin-bottom: 20px;
        padding: 0 15px;
    }
    .act-section .btn-row{
        margin-top: 0;
        padding: 0 15px;
    }
}
@media (max-width: 429px){
    .act .input-num.huge{width: 270px;}
    .act .info-list .col,
    .act .info-list .col-2{
        display: block;
        width: 100%;
    }
    .prices .btn-row .button-gradient.add-btn .btn{
        padding: 0 20px;
    }
    .act-section .btn-row{
        text-align: center;
    }
    .act-section .btn-row .button-gradient{
        margin: 8px;
    }
}

@media only screen and (max-width: 425px) {
    .act .price-list .add {
        position: relative;
    }
}