@import "parts/footer.css";
@import "parts/header.css";
@import "parts/registration.css";
@import "parts/search.css";
@import "parts/freeQuote.css";
@import "parts/loginAndRecovery.css";
@import "parts/enquiries.css";
@import "parts/messages.css";
@import "parts/prices.css";
@import "parts/requirements.css";
@import "parts/agenda.css";
@import "parts/chat-room.css";

@font-face {
    font-family: LatoBlack;
    src: url(../fonts/Lato/Lato-Black.ttf);
}

@font-face {
    font-family: LatoBold;
    src: url(../fonts/Lato/Lato-Bold.ttf);
}

@font-face {
    font-family: LatoRegular;
    src: url(../fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: UbuntuMedium;
    src: url(../fonts/Ubuntu-M.ttf);
}

@font-face {
    font-family: UbuntuBold;
    src: url(../fonts/Ubuntu-B.ttf);
}

* {
    box-sizing: border-box;
    font-family: LatoRegular, Serif, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {opacity: 0;}

main {
    position: relative;
}

.no-pad {
    padding: 0;
}

.row {
    margin: 0;
}

.map{
    width: 700px;
    height: 300px;
}

.ul-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
}

.modal {
    padding-right: 0!important;
}

main .scroll-icon {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -35px;
    border-radius: 35px;
    background: white;
}

section.content,
section.cards,
section.used-by {
    background: white;
}

.select2-container--open .select2-dropdown--above {
    border: none!important;
}

.select2-container--default .select2-results>.select2-results__options {
    border: 2px solid #EEEEEE!important;
}

.select2-container--open .select2-dropdown--above .select2-results__options {
    border-bottom: none!important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.select2-container--open .select2-dropdown--below .select2-results__options {
    border-top: none!important;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.custom-checkbox {
    display: inline-block;
    margin-bottom: 20px;
}

.custom-checkbox input {
    display: none;
}

.custom-checkbox label {
    padding-left: 30px;
    position: relative;
    font-family: LatoRegular;
    font-size: 14px;
    color: #AEAEAE;
    line-height: 22px;
    vertical-align: middle;
    cursor: pointer;
}

.custom-checkbox label:before {
    content: "";
    position: absolute;
    left: 0;
    height: 23px;
    width: 23px;
    background: transparent;
    border-radius: 6px;
    border: 2px solid #c6c6c6;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    background: #fff;
}

.custom-checkbox label:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 22px;
    width: 22px;
    display: none;
    background: url("../assets/images/yes.png") no-repeat center;
}

.custom-checkbox input:checked + label:after {
    content: "";
    display: block;
}


.hideme {
    position: relative;
    opacity: 0;
    bottom: -200px;
}

.content {
    padding-top: 63px;
}

.content .block {
    position: relative;
    padding-bottom: 72px;
    margin-bottom: 0;
}

.content .block .divider {
    position: absolute;
    bottom: 18px;
    text-align: center;
}

.content .block .divider.right {
    right: 0;
}

.content .block .divider img {
    height: 38px;

}

.divider-diagonal {
    padding: 0 23% 0;
}

.divider-diagonal.left .divider-arrow {
    -webkit-transform: rotate(-65deg);
    -moz-transform: rotate(-65deg);
    -ms-transform: rotate(-65deg);
    -o-transform: rotate(-65deg);
    transform: rotate(-65deg);
    width: 9px;
}

.divider-diagonal.right .divider-arrow {
    -webkit-transform: rotate(65deg);
    -moz-transform: rotate(65deg);
    -ms-transform: rotate(65deg);
    -o-transform: rotate(65deg);
    transform: rotate(65deg);
    width: 9px;
}

.content h2.title {
    font-size: 40px;
    line-height: 46px;
    font-family: UbuntuBold;
    color: #3d4248;
    margin-top: 0;
    margin-bottom: 19px;
    text-align: center;
}

.content .artist-title {
    font-family: LatoBlack;
    font-size: 20px;
    color: #f15e5a;
    text-align: center;
    margin-top: 19px;
    margin-bottom: 13px;
}

.content .customer-title {
    font-family: LatoBlack;
    font-size: 20px;
    color: #6d69C8;
    text-align: center;
    margin-top: 19px;
    margin-bottom: 13px;
}

.content .category-text {
    font-size: 18px;
    line-height: 22px;
    font-family: LatoRegular;
    color: rgba(0, 0, 0, 0.47);
    text-align: center;
    margin: 0;
}

.content .category-img {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 230px;
}

.content .option-title {
    text-align: center;
    font-family: LatoBold;
    font-size: 18px;
    line-height: 20px;
    color: #767676;
}

.content .options-img {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    max-width: 175px;
    margin-top: 0;
    margin-bottom: 15px;
}

.content .title-secure {
    text-align: center;
    font-family: UbuntuBold;
    font-size: 24px;
    color: #8a9ffd;
    margin-bottom: 12px;
}

.flip-container {
    perspective: 1000px;
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 80px;
}
.flip-container:hover .flipper, .flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.flip-container, .front, .back {
    width: 158px;
    height: 200px;
}
.back .show-more {
    position: absolute;
    font-family: LatoRegular;
    font-size: 11px;
    font-weight: bold;
    color: #ff7647;
    bottom: 55px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    text-decoration: none;
}
.flipper {
    transition: 0.4s;
    transform-style: preserve-3d;

    position: relative;
}
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}
.flip-container:hover .front, .flip-container.hover .front {
    z-index: 0;
    opacity: 0;
}
.flip-container .front {
    opacity: 1;
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);

    transition: ease all 0.25s;
}
.flip-container:hover .back, .flip-container.hover .back {
    z-index: 2;
    opacity: 1;
}
.flip-container .back {
    opacity: 0;
    z-index: 0;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

    transition: ease all 0.25s;
}
.flip-container .front img,
.flip-container .back img{
    width: 100%;
}

.scroll-icon .icon {
    width: 100%;
    height: 100%;
}

.scroll-icon .icon-desktop {
    background: url("../assets/images/scroll_down.png");
}

.scroll-icon .icon-mobile {
    background: url("../assets/images/arrow_down.png") center no-repeat;
}

.divider-vertical {
    position: relative;
    float: left;
    height: 50px;
    border-right: 2px solid rgba(24, 28, 127, 0.14);
    margin-right: 24px;
}

.underline {
    width: 0;
    transition-property: width;
    transition-duration: 0.3s;
    margin: 0 auto;
}

.active a .underline{
    display: block;
    width: 100%;
    height: 6px;
    margin: 0 auto;
}

.underline .top {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #ff5843;
}

.underline .bottom {
    width: 80%;
    margin: 2px auto 0 auto;
    margin-top: 2px;
    height: 2px;
    border-radius: 2px;
    background-color: #ff5843;
}

.profile-dropdown a.dropdown-toggle {
    margin-top: 7px!important;
}

.profile-info {
    height: 282px;
    margin-top: -145px;
    padding: 0;
    z-index: 2;
}

.profile-info .avatar {
    position: relative;
    width: 213px;
    height: 213px;
    margin-left: 10px;
    margin-right: 10px;
    top: 35px;
    float: left;
    border-radius: 50%;
}

.profile-info .info {
    position: relative;
    float: left;
    height: 100%;
    padding-left: 10px;
    width: 530px;
}

.info .username {
    width: 100%;
    display: inline-block;
    font-family: UbuntuMedium;
    font-size: 48px;
    color: #fff;
    margin-top: 25px;
}

.specializations {
    display: inline-block;
}

.info .specializations ul {
    margin-top: 15px;
    padding-left: 0;
}

.info .specializations ul > li {
    display: block;
    list-style-type: none;
    float: left;
}

.info .specializations ul > li > a {
    text-decoration: none;
    color: white;
    font-family: LatoRegular;
    font-size: 18px;
}

.specializations .glyphicon {
    font-size: 10px;
    margin-left: 3px;
    top: -2px;
}

.info .specializations ul > li > .divider {
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background-color: white;
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 7px;
    margin-right: 7px;
}

.info .from {
    display: block;
    width: 100%;
    float: left;
    margin-top: 10px;
    font-size: 20px;
    font-family: LatoBold;
    color: rgba(61, 66, 72, 0.72);
}

.info .price {
    display: block;
    float: left;
    margin-top: 10px;
    font-size: 22px;
    font-family: LatoBold;
    color: #464646;
    width: 100%;
}

.info .price .dollar{
    background: url("../assets/images/price_ic.png");
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
}

.info .user-rating {
    display: block;
    float: left;
    margin-top: 10px;
}

.info .user-rating .stars {
    display: inline-block;
}

.info .user-rating .stars>.star {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 5px;
    background: url("../assets/images/star_unfilled_rate.png") no-repeat;
}

.info .user-rating .stars>.star>.fill-star {
    display: inline-block;
    width: 0;
    height: 100%;
    background: url("../assets/images/star_rate.png") no-repeat;
}

.info .user-rating .rating {
    display: inline-block;
    font-size: 18px;
    font-family: LatoBold;
    color: #464646;
}
.controls {
    position: relative;
    float: left;
    height: 100%;
    padding-left: 10px;
    padding-top: 170px;
}

.controls>.button-gradient.follow {
    margin-right: 20px;
    margin-bottom: 10px;
}

.controls>.button-gradient {
    padding: 3px;
    border-radius: 21px;
    display: inline-block;
    margin-right: 10px;

    background: rgb(255,173,108); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(255,173,108,1) 0%, rgba(255,117,58,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,173,108,1) 0%,rgba(255,117,58,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,173,108,1) 0%,rgba(255,117,58,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.controls>.button-gradient>.btn {
    width: 176px;
    height: 36px;
    border-radius: 21px;
    background: #fff;
    font-size: 16px;
    font-family: LatoBold;
    color: #4b4b4b;
    transition-property: all;
    transition-duration: 0.2s;
}

.controls>.button-gradient.filled {
    padding: 0;
}

.controls>.button-gradient.filled>.btn {
    background: transparent;
    font-size: 13px;
    color: #fff;
    height: 42px;
    width: 182px;
    transition-property: all;
    transition-duration: 0.2s;
}

.controls>.button-gradient.filled>.btn:active {
    background: rgba(255, 255, 255, 0.7);
    color: rgba(75, 75, 75, 0.64);
}

.controls>.button-gradient>.btn,
.controls>.button-gradient>.btn:hover,
.controls>.button-gradient>.btn:focus{
    outline:none!important;
    box-shadow: none!important;
}

.controls>.button-gradient>.btn:active {
    background: rgba(255, 255, 255, 0);
    color: white;
}

.menu {
    height: 72px;
    width: 100%;
    background: -moz-linear-gradient(left,  rgba(250,250,250,0.01) 0%, rgba(247,247,247,1) 50%, rgba(243,243,243,0.01) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(250,250,250,0.01) 0%,rgba(247,247,247,1) 50%,rgba(243,243,243,0.01) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(250,250,250,0.01) 0%,rgba(247,247,247,1) 50%,rgba(243,243,243,0.01) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.menu-item {
    padding-top: 25px;
    position: relative;
    overflow: hidden;
    height: 72px;
    text-align: center;
    width: 100px;
}

.menu-item:hover .hover-bg {
    background: #fc9e5f;
}

.menu-item .hover-bg {
    padding-top: 40px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    top: -15px;
    background: rgba(252, 158, 95, 0);

    transition-property: background;
    transition-duration: 0.3s;

    font-family: LatoBlack;
    font-size: 16px;
    color: #565689;
    text-decoration: none;
}

.menu ul {
    padding-left: 0!important;
    /*margin-left: -50px;*/
    text-align: center;
}

.menu .container>ul>li {
    list-style-type: none;
    display: inline-block;
    margin-right: 150px;
}

.menu .container>ul>li:last-of-type {
    margin-right: 0px;
}

.menu .container a {

}

.price-list>.item {
    margin-top: 54px;
}


.price-list>.item>h2 {
    font-size: 28px;
    font-family: UbuntuBold;
    color: #424242;
    margin-top: 0px;
}

.price-list>.item>h2>.price {
    margin-left: 142px;
    font-family: LatoRegular;
    font-size: 18px;
    color: #636363;
}

.price-list>.item>.preview {
    position: relative;
    display: inline-block;
    float: left;
    width: 395px;
    height: 273px;
    margin-right: 10px;
}

.price-list>.item>.video {
    /*cursor: pointer;*/
    position: relative;
    overflow: hidden;
    display: inline-block;
    float: left;
    width: 395px;
    height: 273px;
}

.price-list>.item>.video img{
    width: 100%;
    height: 100%;
}

.price-list>.item>.video>.glyphicon {
    display: inline-block;
    opacity: 0;
    position: absolute;
    color: white;
    font-size: 40px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: ease opacity 0.4s;
}

.price-list>.item>.video>.name {
    position: absolute;
    background: rgba(255, 173, 108, 0.85);
    height: 70px;
    width: 105%;
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    transform: rotate(4deg);
    bottom: -130px;
    left: -10px;
    transition-property: bottom;
    transition-duration: 0.3s;
}

.price-list .video>.name>.name-text {
    margin-left: 20px;
    color: #FFF;
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg);
    margin-top: 5px;
    font-size: 18px;
    font-family: LatoBold;
}

.price-list .video:hover>.glyphicon {
    display: inline-block;
    opacity: 1;
}

.price-list .video:hover>.name {
    display: inline-block;
    bottom: -20px;
}

.price-list .info {
    position: relative;
    width: 355px;
    min-height: 273px;
    display: inline-block;
    margin-left: 15px;
    float: left;
}

.price-list .item .info p {
    font-size: 16px;
    font-family: LatoRegular;
    color: #636363;
    word-break: normal;
}

.price-list .controls {
    padding: 0px;
    height: auto;
    position: absolute;
    bottom: -10px;
}

.price-list .controls .button-gradient .btn {
    display: block;
    width: 174px;
    height: 34px;
    color: #fff;
    font-family: LatoBlack;
    font-size: 13px;
    border-radius: 17px;
    border: none;
    outline: none;
    box-shadow: none;

    transition-property: background;
    transition-duration: 0.2s;

    background: rgb(255,173,108); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(255,173,108,1) 0%, rgba(255,117,58,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,173,108,1) 0%,rgba(255,117,58,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,173,108,1) 0%,rgba(255,117,58,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.price-list .controls .btn:active {
    background: rgba(255, 255, 255, 0.7);
    color: rgba(75, 75, 75, 0.64);
}

.price-list .controls>.button-gradient {
    padding: 0;
}

.price-list .item .info .controls a {
    margin-left: 15px;
    text-decoration: underline;
    font-family: LatoRegular;
    font-size: 14px;
    color: #4366ae;
}

.show-more-info {
    display: none;
    width: 100%;
    text-align: center;
    font-family: LatoRegular;
    font-size: 16px;
    color: white;
    margin-top: 20px;
    border: none;
    padding: 10px;

    background: rgb(255,173,108); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(255,173,108,1) 0%, rgba(255,117,58,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,173,108,1) 0%,rgba(255,117,58,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,173,108,1) 0%,rgba(255,117,58,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.pagination {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}

.pagination>li>a {
    border-radius: 0;
    float: none;
    border: none;
}

.pagination>li>a:hover {
    background: transparent;
}

.pagination a .button {
    display: inline-block;
    font-family: LatoRegular;
    font-size: 18px;
    color: #424242;
    height: 35px;
    width: 35px;
    margin-left: 5px;
    margin-right: 5px;
}

.pagination a .button.active {
    border: 1px solid #c2c2c2;
    border-radius: 50%;
    padding: 3px;
}

.pagination a.next-page {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 10px;
    top: -2px;
    color: #b1b1b1;
}

.pagination a:hover.next-page,
.pagination a:focus.next-page,
.pagination a:active.next-page {
    color: #989898;
}

.pagination a.prev-page {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 10px;
    top: -2px;
    color: #b1b1b1;
}

/*.pagination a.prev-page span {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}*/

.pagination a.not-active {
    cursor: not-allowed;
}

.pagination a:hover.prev-page,
.pagination a:focus.prev-page,
.pagination a:active.prev-page {
    color: #989898;
}


.profile-block {
    margin-top: 54px;
}

.profile-block .title {
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 30px;
}

.profile-block .title span {
    text-align: left;
    font-size: 28px;
    padding-bottom: 5px;
    font-family: UbuntuBold;
    color: #424242;
}

.biography p {
    font-size: 20px;
    font-family: LatoRegular;
    color: #636363;
}

.feedbacks {
    margin-top: 90px;
}

.feedbacks .stars {
    display: inline-block;
    /*margin-left: 15px;*/
}

.feedbacks .stars>.star {
    width: 22px;
    height: 22px;
    display: inline-block;
    margin-right: 5px;
    background: url("../assets/images/star_unfilled_feedback.png") no-repeat;
}

.feedbacks .stars>.star>.fill-star {
    display: inline-block;
    width: 0;
    height: 100%;
    background: url("../assets/images/star_feedback.png") no-repeat;
    position: relative;
}

.feedback-block {
    margin-top: 30px;
    position: relative;
    font-family: LatoRegular;
}

.feedback-block .avatar {
    float: left;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    color: #424242;
    margin-right: 24px;
}

.feedback-block .text {
    position: relative;
    float: left;
    display: inline-block;
    width: calc(100% - 100px);
    font-size: 20px;
    color: #636363;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(187, 187, 187, 0.10);
    min-height: 106px;
}

.feedback-block .text.show-more .gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.01) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.01) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.01) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    z-index: 1;
}

.feedback-block .text .more {
    position: relative;
    font-family: LatoBold;
    font-size: 20px;
    color: #636363;
    text-decoration: none;
    z-index: 2;
}

.feedback-block .avatar img{
    width: 71px;
    height: 71px;
    border-radius: 50%;
}

.media {
    margin-top: 90px;
}

.media ul {
    margin-bottom: 30px;
}

.media ul>li {
    list-style-type: none;
    display: inline-block;
    margin-left: 30px;
}

.media li a {
    position: relative;
    font-family: LatoBold;
    font-size: 22px;
    color: #424242;
    text-decoration: none;
}

.media .badge {
    position: relative;
    top: -10px;
    height: 26px;
    min-width: 26px;
    border-radius: 13px;
    font-size: 14px;
    color: #5d5d5d;
    padding: 6px;
    background-color: #e0e0e0;
}

.media .circle {
    display: none;
    position: relative;
    left: 30px;
    width: 6px;
    height: 6px;
    background-color: #ff7e30;
    border-radius: 3px;
}

.media li a.active .circle {
    display: block;
}

.media-content .bxslider,
.media-content .bxVideoSlider{
    width: 100%;
    padding: 0px;
}
.media-content .bxslider>li,
.media-content .bxVideoSlider>li{
    margin-left: 0!important;
    padding: 0 45px;
}
.media-content .bxslider li img     {
    width: 100%;
}
.media-content .bx-clone {
    display: none;
}
.media-content .bx-wrapper {
    margin: 0 auto 15px!important;
}
.media-content .bx-wrapper .bx-viewport {
    box-shadow: none;
    border: none;
    left: 0!important;
    margin: 0;
}
.media-content .bx-pager {
    padding: 0 45px;
}
.media-content .bx-pager div {
    width: calc(25% - 4px);
    margin: 2px;
    height: 182px;
    display: inline-block;
    float: left;
}
.media-content .bx-pager div.empty a {
    display: none;
}

.media-content .bx-pager .scale-thumb {
    overflow: hidden;
}

.media-content .bx-pager .thumb1 {
    background: rgba(255, 119, 60, 0.18);
}
.media-content .bx-pager .thumb2 {
    background: rgba(255, 119, 60, 0.13);
}
.media-content .bx-pager .thumb3 {
    background: rgba(255, 119, 60, 0.06);
}
.media-content .bx-pager .thumb4 {
    background: rgba(255, 119, 60, 0.03);
}
.media-content .bx-pager a img{
    width: 100%;
    max-height: 200%;
}
.media-content.wrapper {
    position: relative;
}
.slider-controls {
    position: absolute;
    float: left;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}
.slider-controls .left {
    margin-left: 15px;
    cursor: pointer;
}
.slider-controls .right {
    float: right;
    margin-right: 15px;
    cursor: pointer;
}
.media-content .bx-next,
.media-content .bx-prev {
    color: #424242;
}

.social-media {
    margin-top: 90px;
    margin-bottom: 90px;
}

.spotlight {
    background: #222428;
    padding: 36px 0 40px;
}

.spotlight .browse-artists {
    border: none!important;
    outline: none!important;
    box-shadow: none;

    background: white;
    border-radius: 26px;
    height: 42px;
    width: 278px;

    font-family: LatoBold;
    font-size: 20px;
    color: #3d4248;
    position: relative;
    margin-top: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.spotlight .title {
    text-align: center;
    font-family: UbuntuBold;
    font-size: 30px;
    color: white;
    margin-top: 0;
    margin-bottom: 40px;
}

.spotlight .next-control {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 5;
}

.spotlight .prev-control {
    display: inline-block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 5;
}

.spotlight .next-control,
.spotlight .prev-control {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.cards {
    position: relative;
    padding: 60px 0;
}

.card-flip {
    perspective: 1000px;
}

.card-flip:hover .flipper, .card-flip.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card-flip .flipper {
    width: 100%;
    padding-bottom: 80%;
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

.card-flip .front, .card-flip .back {
    backface-visibility: hidden;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid white;
    background-size: cover;
}

.card-flip:hover .front, .card-flip.hover .front {
    z-index: 0;
    opacity: 0;
}

.card-flip .front {
    z-index: 2;
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    height: 100%;
    background-size: cover!important;

    transition: ease all 0.25s;
}

.card-flip:hover .back, .card-flip.hover .back {
    z-index: 2;
    opacity: 1;
}

.card-flip .back {
    z-index: 0;
    opacity: 1;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    height: 100%;
    background-size: cover!important;

    transition: ease all 0.25s;
}

.card-flip .back .panel-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.89);
    padding: 28px 20px 40px;
    text-align: center;
}

.card-flip .front .panel-text {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
}

.card-flip .front .title {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: UbuntuBold;
    font-size: 20px;
    color: white;
}

.panel-text .title {
    font-family: UbuntuBold;
    font-size: 20px;
    color: #4a4a4a;
}

.panel-text.controls .btn {
    background: transparent;
    font-size: 18px!important;
    color: white;
}

.panel-text.controls .button-gradient {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 40px;
}

.panel-text .text {
    font-family: LatoRegular;
    font-size: 15px;
    color: #7a7a7a;
}

.card-flip.variety-acts .front {
    background: url("../assets/images/VarietyActs.jpg") center no-repeat;
}

.card-flip.variety-acts .back {
    background: url("../assets/images/VarietyActs.jpg") center no-repeat;
}

.card-flip.live-music .front {
    background: url("../assets/images/LiveMusic.jpg") center no-repeat;
}

.card-flip.live-music .back {
    background: url("../assets/images/LiveMusic.jpg") center no-repeat;
}

.card-flip.international .front {
    background: url("../assets/images/InternationalShow.jpeg") center no-repeat;
}

.card-flip.international .back {
    background: url("../assets/images/InternationalShow.jpeg") center no-repeat;
}

.card-flip.emcees .front {
    background: url("../assets/images/EMCEEComedian.jpeg") center no-repeat;
}

.card-flip.emcees .back {
    background: url("../assets/images/EMCEEComedian.jpeg") center no-repeat;
}

.card-flip.dance .front {
    background: url("../assets/images/DanceActs.jpg") center no-repeat;
}

.card-flip.dance .back {
    background: url("../assets/images/DanceActs.jpg") center no-repeat;
}

.card-flip.children .front {
    background: url("../assets/images/ChildrenEntertainment.jpg") center no-repeat;
}

.card-flip.children .back {
    background: url("../assets/images/ChildrenEntertainment.jpg") center no-repeat;
}

.used-by {
    height: 315px;
    position: relative;
}

.used-by .text-panel {
   position: absolute;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.used-by .wrap {
    bottom: -45px!important;
}

.used-by .bg {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 1, 232, 0.6);
}

.used-by .text-panel h2 {
    font-family: UbuntuBold;
    font-size: 34px;
    color: #fff;
    margin-top: 32px;
    margin-bottom: 30px;
}

.used-by .text-panel .text {
    font-family: LatoRegular;
    font-size: 24px;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 22px;
}

.used-by .text-panel .author {
    font-family: LatoRegular;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.71);
    margin: 0;
}

.used-by .bx-wrapper {
    max-width: 100%!important;
    width: 100%;
    margin: 0!important;
}

.used-by .bx-wrapper .bx-viewport {
    box-shadow: none;
    border: none;
    left: 0!important;
    margin: 0;
}

.stay-in-touch {
    padding: 48px 0 57px;
    background: #222428;
    text-align: center;
}

.stay-in-touch h2 {
    font-family: UbuntuBold;
    font-size: 36px;
    color: #fff;
    margin: 0;
    margin-bottom: 18px;
}

.stay-in-touch .text {
    font-family: LatoRegular;
    font-size: 22px;
    color: #fff;
    margin: 0;
    margin-bottom: 30px;
}

.stay-in-touch .follow-us {
    font-family: LatoRegular;
    font-size: 24px;
    color: #fff;
    margin: 0;
    margin-bottom: -3px;
}

.stay-in-touch input {
    line-height: 23px;
    text-align: left;
    width: 30%;
    max-width: 250px;
    height: 45px;
    border: none;
    outline: none!important;
    border-radius: 25px;
    padding: 15px;
    margin-right: 18px;
    font-family: LatoRegular;
    font-size: 18px;
    color: #3d4248;
}

.stay-in-touch .form {
    margin-bottom: 30px;
}

.stay-in-touch .form .controls {
    padding: 0;
    float: none;
    display: inline-block;
    top: -2px;
}

.stay-in-touch .form  .controls>.button-gradient.filled>.btn {
    height: 44px;
    font-family: LatoBold;
    font-size: 18px;
}

#carousel {
    width: 100%;
    height: 364px;
    position: relative;
}

#carousel .wrap {
    display: inline-block!important;
}

#carousel img {
    width: 100%;
    height: 100%;
}

#carousel .wrap span {
    display: block;
    opacity: 0;
}

#carousel .wrap .caption-block {
    display: none!important;
    overflow: hidden;
}

.caption-block .name {
    position: absolute;
    background: rgba(255, 173, 108, 0.85);
    height: 100px;
    width: 105%;
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    transform: rotate(4deg);
    bottom: -200px;
    left: -10px;
    transition-property: bottom;
    transition-duration: 0.3s;
}

.caption-block .name .text{
    margin-left: 20px;
    color: #FFF;
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg);
    margin-top: 20px;
    font-size: 18px;
    font-family: LatoBold;
}

#carousel .wrap:hover img.carousel-center + span {
    display: block;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    font-size: 40px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    cursor: pointer;
    transition: ease opacity 0.4s;
}


#carousel .wrap img.carousel-center + span + .caption-block {
    display: inline-block!important;
}

#carousel .wrap:hover img.carousel-center + span + .caption-block .name {
    bottom: -30px;
    display: block;
}

.categories-dropdown {
    margin-top: 0;
    width: 100%;
    background-color: #90BCDF;
    margin-bottom: 15px;
    border: none;
    box-shadow: none;
    outline: none;
}

.categories-dropdown .btn-primary {
    width: 100%;
    background: transparent!important;
    text-align: left;
    border: none;
    box-shadow: none;
    outline: none!important;
    padding: 10px 20px;
    font-weight: bold;
}

.categories-dropdown.open .btn-primary {
    padding: 10px 20px 5px 20px;
}

.categories-dropdown.open>.dropdown-menu {
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    margin-top: -1px;
    background: #90BCDF;
    z-index: 2;
}

.categories-dropdown.open>.dropdown-menu>li>a {
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}

.categories-dropdown .btn-primary .caret {
    float: right;
    position: relative;
    top: 6px;
    border-top: 6px dashed;
    border-top: 6px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.modal-dialog .free-quote-modal.modal-registered .select2-container--default .select2-selection--single .select2-selection__rendered,
.modal-dialog .select2-container--default .select2-selection--single .select2-selection__rendered{
    background: #fff;
    font-size: 13px;
    height: 34px;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    border-radius: 8px;
    -webkit-border-radus: 8px;
}

.free-quote-modal .quote-profile-desc{
    border: none !important;
}

.select2.select2-container--open.select2-container--below .select2-selection__rendered{
    border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
}

#section-audio
{
    display: none;
}

/*Medium screens*/
@media (max-width: 1199px) {

    .profile-info {
        height: auto;
    }

    .profile-info .controls {
        display: block;
        padding: 20px 0;
        width: 400px;
        margin: 0 auto;
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .price-list>.item>.video,
    .price-list>.item>.preview {
        width: calc(50% - 5px);
        height: auto;
        padding-bottom: 10px;
        margin-right: 5px;
    }

    .price-list .info {
        padding-bottom: 74px;
        min-height: 200px;
    }

    .price-list>.item>.video {
        padding-bottom: 0px;
    }

    .price-list .info {
        width: 100%;
        margin-left: 0px;
        margin-top: 10px;
    }
}
/*Small screens*/
@media (max-width: 991px) {

    .mail span.badge {
        margin-left: 10px;
        font-size: 10px;
        background-color: #ff735a;
        z-index: 1;
        padding: 4px 6px;
        border: none;
        min-width: 15px;
    }

    .underline {
        display: none!important;
    }
    .divider-vertical {
        display: none;
    }

    .profile-info .avatar {
        width: 170px;
        height: 170px;
    }

    .menu-item:hover .hover-bg {
        background: transparent;
    }

    .profile-info .info {
        padding-left: 0;
        width: calc(100% - 190px);
    }

    .menu ul {

    }

    .menu .container>ul>li{
        margin-right: 0!important;
        text-align: center;
        width: 33.33333%;
        float: left;
    }

    .menu ul {
        display: inline-block;
        width: 100%;
        margin: 0!important;
    }

    .menu .menu-item {
        display: inline-block!important;
    }
}
/*Extra small screens*/
@media (max-width: 720px) {


    .content h2.title {
        font-size: 28px;
    }

    .content .artist-title {
        font-size: 14px;
    }

    .content .customer-title {
        font-size: 14px;
    }

    .content .category-text {
        font-size: 12px;
        letter-spacing: 0.3px;
    }

    .content .option-title {
        font-size: 12px;
    }

    .content .options-img {
        width: 90%;
    }

    .content .category-img {
        height: 150px;
    }

    .content .title-secure {
        margin-top: 20px;
        font-size: 15px;
        margin-bottom: 25px;
    }

    .flip-container, .front, .back {
        width: 150px;
        height: 200px;
    }

    .flip-container {
        margin-bottom: 50px;
    }

    .flip-container .front img, .flip-container .back img {
        height: 100%;
        width: 100%;
    }

    .cards {
        padding: 50px 0px;
    }

    .back .show-more {
        font-size: 12px;
        bottom: 45px;
    }

    .spotlight .title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .spotlight .browse-artists {
        margin-top: 10px;
        width: 85%;
        font-size: 16px;
    }

    .panel-text.controls .btn {
        font-size: 18px!important;
    }

    .used-by .text-panel h2 {
        font-size: 14px;
        margin-top: 35px;
    }

    .used-by .text-panel .text {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .used-by .text-panel .author {
        font-size: 16px;
    }

    .stay-in-touch h2 {
        font-size: 17px;
    }

    .stay-in-touch .text {
        font-size: 15px;
    }

    .stay-in-touch input {
        display: block;
        margin: 0 0 10px;
        width: 100%;
        text-align: center;
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .stay-in-touch .form .controls>.button-gradient.filled {
        display: block;
        width: 100%;
    }

    .stay-in-touch .form .controls {
        width: 100%;
        max-width: 250px;
    }

    .stay-in-touch .follow-us {
        font-size: 16px;
    }

    .controls>.button-gradient.filled>.btn {
        height: 42px;
        width: 182px;
    }

    .panel-text .text {
        font-size: 15px;
    }

    .pagination {
        display: none;
    }

    .show-more-info {
        display: inline-block;
    }

    .profile-block .title span {
        margin-left: 10px;
        font-size: 18px;
    }

    .feedback-block {
        padding-left: 25px;
    }

    .feedback-block .text {
        border-bottom: none;
        font-size: 14px;
    }

    .feedback-block .text.show-more .gradient {
        display: none;
    }

    .feedback-block .text .more {
        display: none;
    }

    .feedback-block {
        border-bottom: 1px solid rgba(187, 187, 187, 0.10);
    }

    .info .price {
        font-size: 14px;
    }

    .profile-info {
        margin-top: -110px;
    }

    .profile-info .avatar {
        width: 130px;
        height: 130px;
    }

    .profile-info .info {
        padding-left: 0;
        width: calc(100% - 150px);
    }

    .info .username {
        font-size: 22px;
        margin-top: 40px;
    }

    .info .specializations ul {
        margin-top: 0;
    }


    .info .specializations ul > li > a {
        font-size: 13px;
    }

    .menu .container>ul>li:not(:last-of-type) {
        margin-right: 65px;
    }

    .price-list>.item>.video,
    .price-list>.item>.preview {
        width: 100%;
        height: auto;
        padding-bottom: 10px;
    }

    .price-list>.item>.video {
        padding-bottom: 0px;
    }

    .price-list .info {
        width: 100%;
        margin-left: 0px;
        margin-top: 10px;
    }

    .price-list .item {
        padding: 0 15px;
    }

    .media ul>li>a {
        font-size: 12px;
    }

    .media {
        margin-top: 50px;
    }

    .media .badge {
        height: 19px;
        min-width: 19px;
        font-size: 9px;
        padding: 5px;
    }

    .media ul>li {
        margin: 0;
        margin-right: 10px;
    }

    .media ul {
        margin-bottom: 20px;
        padding-left: 20px;
    }

    .media .circle {
        left: 20px;
    }

    .bxslider>li,
    .bxVideoSlider>li {
        width: calc(100% - 30px)!important;
    }

    .bx-pager {
        padding: 0px 60px;
    }

    .price-list>.item>h2 {
        font-size: 22px;
    }

    .price-list .controls {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .price-list>.item>h2>.price {
        margin-left: 0;
        margin-top: 7px;
        float: right;
        font-size: 14px;
    }

    main {
        margin-bottom: 0px;
    }

    .price-list .video>.name {
        display: inline-block!important;
        bottom: -35px!important;
    }

    .price-list .video>.glyphicon {
        display: inline-block!important;
    }

    .price-list .video>.name>.name-text {
        margin-top: 4px;
        font-size: 13px;
    }

    .price-list .item .info p {
        font-size: 14px;
    }

    .price-list .controls .btn {
        font-size: 12px;
    }

    .biography p {
        font-size: 14px;
        padding: 15px;
    }


    .feedback-block .avatar img {
        width: 50px;
        height: 50px;
    }

    .feedback-block .avatar {
        font-size: 12px;
    }
}
/*Screens with width < 400px*/
@media (max-width: 400px) {

    .used-by .text-panel h2 {
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .panel-text.controls .btn {
        font-size: 15px!important;
    }

    .controls>.button-gradient.filled>.btn {
        height: 35px;
        width: 160px;
    }

    .panel-text .text {
        font-size: 13px;
    }

    .content .category-img {
        height: 110px;
    }

    .profile-info .controls {
        display: block;
        padding: 20px 0;
        width: 100%;
        margin: 0 auto;
    }

    .profile-info {
        margin-top: -95px;
    }

    .menu .container>ul>li:not(:last-of-type) {
        margin-right: 15px;
    }

    .profile-info .button-gradient {
    display: block;
    width: 182px;
    margin: 0 auto 15px!important;
    }

    .profile-info .avatar {
        width: 70px;
        height: 70px;
        top: 50px;
    }

    .profile-info .info {
        padding-left: 0;
        width: calc(100% - 90px);
    }

    .info .username {
        font-size: 18px;
        margin-top: 30px;
    }

    .info .specializations ul > li > a {
        font-size: 10px;
    }

    .info .specializations ul > li > .divider {
        margin-bottom: 1px;
    }

    .info .from {
        font-size: 13px;
    }

    .info .price {
        font-size: 12px;
    }

    .info .user-rating .rating {
        font-size: 11px;
    }

    .controls>.button-gradient>.btn {
        font-size: 14px;
    }

    .controls>.button-gradient.filled>.btn {
        font-size: 12px;
    }

    .menu-item .hover-bg {
        font-size: 12px;
    }

    .price-list>.item>h2 {
        font-size: 18px;
    }

    .price-list>.item>h2>.price {
        font-size: 12px;
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    .price-list .video>.name {
        display: inline-block!important;
        bottom: -35px!important;
    }
}
.avatarEditable
{
    float: left;
    position: relative;
    text-align: right;
}
#editAvatar
{
    position: relative;
    color: #000;
    font-size: 28px;
}
.info #username
{
    width: auto;
}
.editText
{
    display: inline-block;
    color: #fff;
    font-size: 17px;
    margin-left: 10px;
}
#changeImageModal .actions, #changeBgModal .actions
{
    text-align: center;
}
#editBackground
{
    font-size: 35px;
    right: 20px;
    position: absolute;
    top: 70px;
}
#editBiography
{
    float: right;
    font-size: 20px;
}
#editCategories
{
    position: absolute;
    font-size: 20px;
    right: 0;
}
.editOffer, .deleteOffer
{
    float: right;
    margin-left: 15px;
}
#section-photo .dropzone, .add-video-block
{
    margin-bottom: 20px;
}
.videoAdd
{
    margin-bottom: 10px;
}
.imagePerformanceChange
{
    width: 395px;
    position: absolute;
    z-index: 10;
    background: rgba(0,0,0,0.8);
    color: #fff;
    height: 273px;
    display: none;
}
#addNewPerformance
{
    cursor: pointer;
    margin-top: 30px;
}
.addPerfomanceCreate
{
    display: none;
}
.addPerfomanceCreate .deleteOffer
{
    display: none;
}
.editable-inline, .editable-inline .form-group
{
    width: 100% !important;
}
.editable-inline .editable-input
{
    width: 77%;
}
.editable-inline .editable-input textarea
{
    width: 100%;
}
.editable-inline .form-group .editable-buttons
{
    width: 20%;
    text-align: center;
}
.removeNewImage
{
    color: #d9534f;
    font-size: 30px;
    cursor: pointer;
}
span.removeNewImage
{
    position: absolute;
    margin-left: 7px;
}
.errorCat, #errorLogIn
{
    color: #d9534f;
    text-align: center;
    display: none;
}
.profile-card button a
{
    color: inherit;

}
.category-body .show-more
{
    display: none;
}
.artistCategories
{
    min-height: 130px;
}
.imagePerformanceChange .croppie-container
{
    padding: 0;
}
.imagePerformanceChange .croppie-container .cr-slider-wrap
{
    margin-top: 8px;
}
.offerMediaType
{
    text-align: center;
    margin-top: 114px;
}
.performanceVideoAdd
{
    display: none;
    width: 80%;
    margin: 0 auto;
    margin-top: 90px;
}
.performanceVideoAdd button
{
    margin-top: 10px;
}
.no-res-block
{
    color: #fff;
    text-align: center;
}
.imagePerfinput
{
    display: none;
}
#profileAddNewMedia
{
    margin-bottom: 25px;
}
#addImageModal .actions
{
    text-align: center;
}
.select2-container--disabled
{
    opacity: 0.5;
}
.deleteTabBlock
{
    position: absolute;
    right: -1px;
    top: -13px;
    color: #f97c7d;
    font-size: 24px;
    cursor: pointer;
    z-index: 2;
}
#section-audio iframe
{
    margin-top: 30px;
}
.searchSearchResultWrapper .profile-card, .searchRecomendationWrapper .profile-card
{
    width: 205px !important;
}
.results-content .slider-block .bx-wrapper
{
    padding: 0 30px;
}
#errorLogRecovery{
    color: #d9534f;
    text-align: center;
    display: none;
}
a.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}
.info .username
{
    max-height: 65px;
    overflow: hidden;
}
.specializations ul .currentCatUser:nth-child(n+4) {
    display: none
}
.navbar
{
    z-index: 1000;
}
.results-content .slider
{
    margin-top: 15px;
}
.audioEditProfile .deleteMedia
{
    right: 0;
    color: #d9534f;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
}
.contact-details .form-group {
    max-height: 77px;
}
.audioAddForm
{
    margin-bottom: 10px;
}
.imagePerformanceChangeNew img
{
    width: 100%;
    height: 273px;
}
.editingProf
{
    display: none;
    position: absolute;
    font-size: 33px;
    padding: 0;
    right: 0;
    color: #323232;
    background: rgba(255, 255, 255, 0.5);
    padding: 0px 7px 0 10px;
    border-radius: 0 0 0 8px;
    cursor: pointer;
}
.imagePerformanceChange {
    width: 100%;
    height: 100%;
}
.price-list .video iframe
{
    width: 100% !important;
}
.price-list .info
{
    overflow: hidden;
    word-wrap: normal;
}
.price-list .item .info p
{
    max-height: 196px;
    overflow-y: auto;
}
.bx-wrapper .bx-controls-direction a
{
    z-index: 999;
}

#loadSpinner
{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1090;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: rgba(0, 0, 0, 0.5) url("../assets/images/preloader.gif") no-repeat center center;
}
#photo-pager .scale-thumb img
{
    width: 100%;
}


.dangerMessage
{
    border-color: #ff735a;
}
.user-info .user-name
{
    float: left;
    width: 115px;
}
.archiveMessage
{
    cursor: pointer;
}
.btn > a
{
    color: #fff;
    font-size: 15px;
    font-family: LatoBold;
}
.btn > a:hover
{
    text-decoration: none;
}
.alreadyHasEventArtist
{
    display: none;
}
.eventArtist
{
    margin-left: 3px;
}
.quotationDetailsChat
{
    padding: 0 15px;
}
.comments-list li .chatImage
{
    width: 100px;
    height: 100px;
}
.bx-loading
{
    display: none;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}
.chatMessageSending
{
    display: none;
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.chat-room .comments-list pre {
    margin: 0 0 10px;
    font-family: LatoRegular, Serif, sans-serif;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 14px;
    color: rgba(0, 0, 0, .87)
}