{% include 'ActedLegalDocsBundle:Default:header.html.twig' %}

<main class="dashboard client artist-selection">
    <div class="container">
        {% include 'ActedLegalDocsBundle:Profile:client/client_menu.html.twig' %}

        <div class="row artist-block" style="display: none;" v-for="order in orders" v-if="order.id != 10" v-bind:data-chatroom-id="order.chat.chat_id" :data-order-id="order.id">
            <div class="col-sm-1 col-xs-1 no-pad avatar-block">
                <div class="avatar">
                    <img v-if="order.artist.user.avatar" v-bind:src="order.artist.user.avatar">
                    <img v-else src="/assets/images/noAvatar.png">
                </div>
            </div>
            <div class="col-sm-10 col-xs-12 no-pad">
                <div class="row">
                    <div class="col-sm-10 col-xs-10">
                        <span class="name">${order.artist.user.firstname} ${order.artist.user.lastname}</span>
                        <span class="stars">
                            <i v-for="i in Math.floor(order.artist.average_rating)" class="star filled"></i>
                            <i v-for="i in 5-Math.floor(order.artist.average_rating)" class="star"></i>
                        </span>
                        <span class="rate"><i>${order.artist.average_rating.toFixed(1)}</i>/<i>5.0</i></span>
                        <span class="rate-count">(<i>${order.artist.total_ratings}</i> <span>Ratings</span>)</span>
                        <ul class="ul-reset artist-categories">
                            <li v-for="category in order.artist.categories">${category}</li>
                        </ul>
                        <div>
                            From ${order.artist.city}, ${order.artist.country}
                        </div>
                    </div>

                    <div class="right-panel">
                        <div class="row color-kelly available-flag text-left" v-if="order.status == 0">Awaiting quotation</div>
                        <div class="row color-kelly available-flag text-left" v-else-if="order.status == 1">Available</div>
                        <div class="row color-kelly available-flag text-left" v-else-if="order.status == 2">Confirmed</div>
                        <div class="row color-india available-flag text-left" v-else-if="order.status == 4">Not available</div>
                        <div class="row text-left price-from" v-if="order.status == 1">From &pound; ${order.minPrice}</div>
                        <div class="row text-left price-from" v-else>&nbsp;</div>
                        <div class="row text-left"><i v-on:click="reject" class="fa fa-trash"></i> Remove</div>
                    </div>
                </div>


                <div class="row controls-area controls">
                    <a class="btn button-gradient blue" v-bind:href="'/dashboard/chat/'+ order.chat.chat_id">Chatroom</a>
                    <div class="button-gradient follow orange">
                        <a class="btn" v-bind:href="'/profile/'+ order.artist.slug">Profile</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

{% include 'ActedLegalDocsBundle:Default:footer.html.twig' %}