.mbYTP_wrapper {
    position: absolute!important;
}

header {
    height: 545px;
    position: relative;
}

header.search {
    height: 490px;
}

header.home {
    height: 100vh;
    position: relative;
}

header.small {
    max-height: 72px;
}

header.small .navbar {
    background: #2228A3!important;
}

.navbar-brand>img {
    max-width: 95px;
}

.home.header-background {
    background: url("../../assets/images/bg.jpg") no-repeat center;
    /*background: transparent;*/
    background-size: cover;
}

.home.header-background .video {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -100;
    overflow: hidden;
}

.home.header-background .video iframe {
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.header-background .header-block {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
}
.home.header-background .header-block {
    max-width: 342px;
}

.search.header-background .header-block {
    max-width: 770px;
}

.home.header-background .background-panel {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgba(68, 78, 232, 0.49);
}

.header-background .set-background{
    position: absolute;
    right: 5%;
    top: 15%;
    background: none;
    font-size: 18px;
    border: none;
    margin: 0;
    color: #fff;
    cursor: pointer;
    padding: 0;
    width: 22px;
    height: 22px;
    text-align: center;
}

.header-block h2 {
    font-family: UbuntuBold;
    font-size: 50px;
    color: #fff;
    margin-bottom: 73px;
}

.search .header-block h2 {
    font-size: 40px;
    margin-bottom: 32px;
    margin-top: 34px;
}

.header-block input.search-input {
    line-height: 23px;
    text-align: center;
    width: calc(100% - 67px);
    height: 45px;
    border: none;
    outline: none!important;
    border-radius: 25px;
    padding: 9px 15px;
    margin-right: 18px;
    font-family: LatoRegular;
    font-size: 20px;
    color: #3d4248;
}

.header-block .wrapper {
    width: calc(100% - 67px);
    display: inline-block;
    float: left;
    height: 42px;
    border-radius: 21px;
    background: white;
    overflow: hidden;
}

.header-block .wrapper input {
    float: left;
    line-height: 38px;
    width: 35%;
    color: rgba(61, 66, 72, 0.53);
    font-family: LatoRegular;
    font-size: 16px;
    border: none;
    outline: none;
    padding-left: 20px;
    padding-right: 10px;
}

.header-block .wrapper .select2-container--default .select2-selection--single {
    border-radius: 0;
    height: 42px;
    background-color: transparent;
}

.header-block .wrapper .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 42px;
    color: rgba(61, 66, 72, 0.53);
    font-family: LatoRegular;
    font-size: 16px;
}

.header-block .wrapper .select2 {
    width: 215px!important;
    float: left;
    margin-right: 0px;
}

.header-block .wrapper .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 8px;
}

.header-block .wrapper + .btn {
    margin-top: -2px;
}

.header-block .wrapper + .btn span {
    display: none;
}

.header-block .wrapper .divider {
    display: inline-block;
    width: 1px;
    height: 32px;
    position: relative;
    float: left;
    top: 5px;
    background: #BEC0C2;
}

.header-block .btn {
    font-size: 17px;
    margin-top: -6px;
    border: none;
    outline: none!important;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    padding: 0;
    background: rgba(255,117,58,1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    color: white;
}

.header-block .btn .fa {
    position: relative;
    top: -1px;
}

.header-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background: url("../../assets/images/bg.jpg") no-repeat center;
    background-size: cover;
}
.header-background>.background-stripe {
    position: absolute;
    bottom: 0;
    height: 145px;
    background-color: rgba(0,0,0,0.09);
    width: 100%;
}

.navbar {
    border-radius: 0;
    height: 72px;
    background-color: rgba(59,68,235,0.49);
    margin: 0;
    z-index: 11;
    border: none;
}

.modal-open .navbar {
    background-color: rgb(34, 40, 163)!important;
}

.navbar>.container-fluid {
    position: relative;
    top: 12px;
    padding: 0;
}

.navbar>.container-fluid .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 24px;
    padding-right: 23px;
    color: #fff;
    margin-left: 0;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav .message-lt{
    width: 25px;
    height: 18px;
    display: block;
    background: url("../../assets/images/messages.png") no-repeat;
}


.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    font-family: LatoBold;
    font-size: 16px;
    color: #fff;
    outline: none!important;
}

.navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    border: none;
    background: transparent;
}

.navbar-toggle .icon-bar {
    background-color: white!important;
}

.navbar-default .navbar-nav>li>a{
    padding: 0;
    margin-top: 15px;
    margin-right: 30px;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li:not(.mail)>a:hover {
    background: transparent;
    color: white;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
    background-color: transparent;
    color: white;
}

.navbar-default .navbar-nav>li>a:hover .underline {
    width: 100%;
}

.navbar-default .avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 17px;
}

.navbar-default .navbar-right {
    margin-right: 35px;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover{
    color: white;
    background: transparent;
}

.navbar-default .navbar-right .mail>.badge {
    position: absolute;
    right: 24px;
    top: 12px;
    height: 13px;
    width: 13px;
    font-size: 7px;
    background-color: #ff735a;
    z-index: 1;
    padding: 3px;
    border: 1px solid rgb(59,68,235);
}


.navbar-header .profile-dropdown .dropdown-menu,
.navbar-nav>li>.dropdown-menu {
    margin-top: 13px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.navbar .navbar-header .profile-dropdown {
    display: none;
}

@media (max-width: 1199px) {
    .navbar-default .navbar-left>li>a {
        margin-right: 20px;
    }
}

@media (max-width: 991px) {

    header {
        height: 400px;
    }

    header.home {
        position: relative;
    }

    .navbar .navbar-header .profile-dropdown {
        position: relative;
        display: inline-block;
        float: right;
        margin-top: 5px;
        margin-right: 10px;
    }

    .navbar .navbar-header .profile-dropdown > a {
        font-family: LatoBold;
        font-size: 16px;
        color: #fff;
        outline: none !important;
        text-decoration: none;
    }

    .navbar-default .navbar-right > li > a,
    .navbar-default .navbar-left > li > a {
        font-size: 14px;
        color: grey;
    }

    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
        color: grey;
        background: transparent;
    }

    .navbar-nav > li.dropdown {
        margin-top: 10px;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: grey;
        font-family: LatoBold;
        font-size: 14px;
    }

    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        margin-right: 25px;
        display: block;
    }

    .navbar-default .avatar {
        margin-left: 0;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
        position: relative;
        top: 8px;
        border: none;
        background-color: white;
        padding-bottom: 10px;
        -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
    }
    .navbar-nav {
        float: none!important;
        margin: 0 15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;

    }

    .collapsing {
        overflow: hidden!important;
        position: relative;
        top: 8px;
        border: none;
        background-color: white;
        padding-bottom: 10px;
        -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
    }

    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>.active>a:hover,
    .navbar-default .navbar-nav>.active>a:after{
        color: grey!important;
        border: none;
    }

    .navbar>.container-fluid .navbar-brand {
        padding: 5px 30px;
    }

    .navbar-brand>img {
        display: block;
        width: 85px;
    }

    .navbar-default .navbar-nav li a:focus {
        color: grey!important;
        font-size: 14px;
    }
    .header-background .set-background{top: 20%;}
}

@media (max-width: 767px) {
    .navbar .navbar-header .profile-dropdown {
        display: none;
    }

    .search .header-block h2 {
        font-family: UbuntuBold;
        font-size: 20px;
        margin-bottom: 15px;
        margin-top: 0px;
    }

    .header-block .wrapper {
        width: 100%;
    }

    .header-block .wrapper + .btn {
        font-size: 17px;
        border-radius: 21px;
        height: 42px;
        width: 100%;
        background: rgba(255,117,58,1);
        color: white;
        top: 10px;
        position: relative;
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
        transform: scaleX(1);
    }

    .header-block .wrapper + .btn i {
        display: none;
    }

    .header-block .wrapper + .btn span {
        display: block;
        font-size: 15px;
        font-family: LatoRegular;
        color: #fff;
    }

    .header-block .wrapper {
        overflow: visible;
        background: transparent;
        display: inline-table;
    }

    .header-block .wrapper input {
        width: 100%;
        border-radius: 21px;
        text-align: center;
    }

    .header-block .wrapper .select2 {
        width: 100%!important;
    }

    .header-block .wrapper .select2-container--default .select2-selection--single {
        background: white;
        border-radius: 21px;
        margin-top: 10px;
    }

    .header-block .wrapper .divider {
        display: none;
    }

    .header-block .wrapper .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 17px;
    }

    .header-block .wrapper .select2-container--default .select2-selection--single .select2-selection__rendered {
        text-align: center;
    }

    .header-block .wrapper .select2-container--open .select2-selection--single {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@media (max-width: 720px) {
    .header-background .set-background{top: 32%;}
    header {
        height: 250px;
    }

    header.home {
        position: relative;
    }

    .header-block h2 {
        font-size: 37px;
        margin-bottom: 40px;
    }

    .header-block input {
        font-size: 17px;
    }

    .header-background>.background-stripe {
        height: 100px;
    }

    .navbar>.container-fluid {
        padding: 0 0px;
    }
}

@media (max-width: 400px) {

    .header-block input {
        font-size: 14px;
    }

    .header-background>.background-stripe {
        height: 75px;
    }
}
