.login-modal .modal-dialog {
    margin-top: 150px;
    max-width: 561px;
}

.login-modal .modal-header {
    border-bottom: none;
    padding: 20px 15px 10px;
}

.login-modal .modal-title {
    font-family: UbuntuMedium;
    font-size: 36px;
    color: #3d4248;
    line-height: 47px;
    text-align: center;
}

.login-modal .modal-content .close {
    position: absolute;
    height: 38px;
    width: 38px;
    top: -19px;
    right: -19px;
    border-radius: 50%;
    background: #F2F2F2;
    opacity: 1;
    font-size: 28px;
    outline: none!important;
}

.login-modal .modal-content .close > span {
    color: #959595;
}

.login-modal .modal-body {
    padding: 0px 85px;
}

.login-modal .modal-body label {
    font-family: LatoRegular;
    font-size: 20px;
    color: #797979;
    line-height: 34px;
    margin-bottom: 2px;
}

.login-modal .modal-body input {
    box-shadow: none;
    outline: none;
    border-radius: 8px;
    border: 2px solid #EEEEEE;
    margin-bottom: 14px;
    font-family: LatoRegular;
    font-size: 18px;
    color: #4c4c4c;
    line-height: 28px;
    height: 42px;
}

.login-modal .controls {
    position: relative;
    float: none;
    height: 100%;
    padding-left: 0;
    padding-top: 26px;
    margin-bottom: 39px;
}

.login-modal .controls>.button-gradient.filled {
    padding: 0;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    margin-right: 0px;
}

.login-modal .controls>.button-gradient.filled .btn {
    font-size: 20px;
    font-family: LatoRegular;
}

.login-modal .form-group {
    position: relative;
}

.login-modal .forgot-password {
    position: absolute;
    bottom: 12px;
    font-size: 15px;
    right: 26px;
    color: #797979;
}

.login-modal .recovery-form .tip {
    font-family: LatoRegular;
    font-size: 16px;
    line-height: 27px;
    color: #3d4248;
}

@media (max-width: 580px) {
    .login-modal .modal-dialog {
        width: 100%;
        height: 100%;
        max-width: none;
        margin: 0;
    }

    .login-modal .modal-content {
        border: none;
        height: 100%;
        padding-top: 70px;
    }

    .login-modal .modal-title {
        font-size: 26px;
    }

    .login-modal .modal-body {
        padding: 10px 45px;
    }

    .login-modal .controls>.button-gradient.filled .btn {
        height: 42px;
    }

    .login-modal .modal-body label {
        font-size: 22px;
    }

    .login-modal .modal-body input {
        font-size: 20px;
        height: 42px;
    }

    .login-modal .forgot-password {
        bottom: 10px;
        font-size: 15px;
        right: 12px;
    }

    .login-modal .modal-content .close {
        top: 98px;
        right: 20px;
        background: transparent;
    }
}

@media (max-width: 360px) {
    .login-modal .recovery-form .tip {
        font-size: 12px;
    }

    .login-modal .modal-content {
        border-radius: 0;
    }

    .login-modal .modal-title {
        font-size: 22px;
    }

    .login-modal .modal-body {
        padding: 10px 45px;
    }

    .login-modal .controls>.button-gradient.filled .btn {
        height: 42px;
    }

    .login-modal .modal-body label {
        font-size: 14px;
    }

    .login-modal .modal-body input {
        font-size: 12px;
        height: 28px;
    }

    .login-modal .forgot-password {
        bottom: 5px;
        font-size: 12px;
        right: 12px;
    }

    .login-modal .modal-content .close {
        top: 98px;
        right: 20px;
        background: transparent;
    }
}