

{% if app.request.get('_route') == 'acted_legal_docs_homepage' %}
    <footer>
    {% elseif app.request.get('_route') == 'acted_legal_docs_search' %}
    <footer>
    {% else %}
    <footer class="footer-dark">
{% endif %}

    <div class="social-icons">
        <ul>
            <li><a href="#"><div class="icon facebook"></div></a></li>
            <li><a href="#"><div class="icon instagram"></div></a></li>
            <li><a href="#"><div class="icon twitter"></div></a></li>
        </ul>
    </div>

    <div class="container menus">
        <div class="row">
            <div class="col-sm-4">

                <ul>
                    <li class="title">Company</li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">User agreement</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>

            </div>

            <div class="col-sm-4">

                <ul>
                    <li class="title">Discover</li>
                    <li><a href="#">Browse talents</a></li>
                    <li><a href="#">Residencies</a></li>
                    <li><a href="#">Sign up</a></li>
                </ul>

            </div>

            <div class="col-sm-4">

                <ul>
                    <li class="title">Support</li>
                    <li><a href="#">How it works</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Forum</a></li>
                </ul>

            </div>
        </div>
    </div>

    <p class="copyright">
        © AKKROO MMXV MATICULOUSLY HAND CRAFTED IN ENGLAND 1.386.503 PIECES OF DATA CAPTURED AND CAUTING
    </p>
        <div id="loadSpinner"></div>
</footer>
{% include 'ActedLegalDocsBundle:Default:registration.html.twig' %}
<script src="{{ asset('js/javascript.js') }}"></script>
</body>
</html>
