{% if app.request.get('_route') == 'acted_legal_docs_homepage' %}
<footer>
{% elseif app.request.get('_route') == 'acted_legal_docs_search' %}
<footer>
{% else %}
<footer class="footer-dark">
{% endif %}

    <div class="social-icons">
        <ul>
            <li><a href="#"><div class="icon facebook"></div></a></li>
            <li><a href="#"><div class="icon instagram"></div></a></li>
            <li><a href="#"><div class="icon twitter"></div></a></li>
        </ul>
    </div>

    <div class="container menus">
        <div class="row">
            <div class="col-sm-4">

                <ul>
                    <li class="title">Company</li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">User agreement</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>

            </div>

            <div class="col-sm-4">

                <ul>
                    <li class="title">Discover</li>
                    <li><a href="#">Browse talents</a></li>
                    <li><a href="#">Residencies</a></li>
                    <li><a href="#">Sign up</a></li>
                </ul>

            </div>

            <div class="col-sm-4">

                <ul>
                    <li class="title">Support</li>
                    <li><a href="#">How it works</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Forum</a></li>
                </ul>

            </div>
        </div>
    </div>

    <p class="copyright">
        © AKKROO MMXV MATICULOUSLY HAND CRAFTED IN ENGLAND 1.386.503 PIECES OF DATA CAPTURED AND CAUTING
    </p>
        <div id="loadSpinner"></div>
</footer>
{% include 'ActedLegalDocsBundle:Default:quoteModal.html.twig' %}
{% include 'ActedLegalDocsBundle:Default:quotationModal.html.twig' %}
{% if app.user %}

{% else %}
    {% include 'ActedLegalDocsBundle:Default:registration.html.twig' %}
{% endif %}
<script src="{{ asset('js/javascript.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.3/vue.js"></script>
    <script type="text/javascript" src="https://npmcdn.com/vue-select@latest"></script>
<script src="http://maps.google.com/maps/api/js?language=en&libraries=places&key={{googlemaps.key}}"></script>
<script>
    jQuery.extend(jQuery.validator.messages, {
        required: "This field is required.",
        remote: "Please fix this field.",
        email: "Please enter a valid email address.",
        url: "Please enter a valid URL.",
        date: "Please enter a valid date.",
        dateISO: "Please enter a valid date (ISO).",
        number: "Please enter a valid number.",
        digits: "Please enter only digits.",
        creditcard: "Please enter a valid credit card number.",
        equalTo: "Please enter the same value again.",
        accept: "Please enter a value with a valid extension.",
        maxlength: jQuery.validator.format("Please enter no more than {0} characters."),
        minlength: jQuery.validator.format("Please enter at least {0} characters."),
        rangelength: jQuery.validator.format("Please enter a value between {0} and {1} characters long."),
        range: jQuery.validator.format("Please enter a value between {0} and {1}."),
        max: jQuery.validator.format("Please enter a value less than or equal to {0}."),
        min: jQuery.validator.format("Please enter a value greater than or equal to {0}.")
    });
</script>

<div class="loader-mask">
    <div class="loader">Loading...</div>
</div>
</body>
</html>