{% include 'ActedLegalDocsBundle:Default:header.html.twig' %}
<div class="home header-background">
    <div class="video" id="videoBackgroundPlayer" data-property="{videoURL:'https://youtu.be/Ytiy96BShD8',containment:'body', loop:true, autoPlay:true, mute:true, startAt:0, opacity:1, showControls: false}">

    </div>
    <div class="background-panel"></div>

    <div class="header-block">
        <h2>Welcome here</h2>

        <div class="form-group">
            <input class="search-input" type="text" placeholder="Search any entertainers">
            <button class="btn"><i class="fa fa-search"></i></button>
        </div>
    </div>
</div>

<main class="home">
    {% include 'ActedLegalDocsBundle:Default:homeInstruction.html.twig' %}

    {% include 'ActedLegalDocsBundle:Default:spotlights.html.twig' %}

    {% include 'ActedLegalDocsBundle:Default:cardsSection.html.twig' %}

    {% include 'ActedLegalDocsBundle:Default:subscribeBlock.html.twig' %}
</main>
{% include 'ActedLegalDocsBundle:Default:footer.html.twig' %}