{% include 'ActedLegalDocsBundle:Default:header.html.twig' %}

{% for flashMessage in app.session.flashbag.get('confirm') %}
<div class="modal registration-modal fade" id="activateProfileModal">
    <div class="modal-dialog" role="document">
        <div class="modal-body">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="final-stage">
                    <div class="col-xs-12">
                        <img class="final-image" src="{{ asset('assets/images/congratulations.png') }}" alt="">
                    </div>
                    <div class="row">
                        <h2>Welcome to ACTED</h2>

                        <p class="description">
                            {{ flashMessage }}
                        </p>
                        <p class="description">
                            And if you need any help, please do not hesitate to use the FAQ
                        </p>

                        <div class="controls">
                            <div class="button-gradient filled">
                                <button data-dismiss="modal" class="btn">Have a nice journey on ACTED</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="success">{{ flashMessage }}</div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="error">{{ flashMessage }}</div>
                {% endfor %}



                {% block javascripts %}
                <script type="text/javascript">
                    window.onload = function() {
                        $('#activateProfileModal').modal('show');
                    };
                </script>
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div class="home header-background">
    <div class="video" id="videoBackgroundPlayer" data-property="{videoURL:'https://youtu.be/Ytiy96BShD8',containment:'body', loop:true, autoPlay:true, mute:true, startAt:0, opacity:1, showControls: false}">

    </div>
    <div class="background-panel"></div>

    <div class="header-block">
        <h2>Unleash your Talent</h2>

        <div class="form-group">
            <input class="search-input" id="homeSearchInput" type="text" placeholder="Search any entertainers">
            <a href="/search" class="homeSearchStart">
            <button class="btn"><i class="fa fa-search"></i></button>
            </a>
        </div>
    </div>
</div>

<main class="home">

    {% include 'ActedLegalDocsBundle:Default:homeInstruction.html.twig' %}

    {% include 'ActedLegalDocsBundle:Default:spotlights.html.twig' %}

    {% include 'ActedLegalDocsBundle:Default:cardsSection.html.twig' %}

    {% include 'ActedLegalDocsBundle:Default:subscribeBlock.html.twig' %}
</main>
{% include 'ActedLegalDocsBundle:Default:footer.html.twig' %}