

<div class="scroll-icon">
    <div class="icon icon-desktop hidden-sm hidden-xs"></div>
    <div class="icon icon-mobile hidden-lg hidden-md"></div>
</div>

<section class="content" id="how-it-works">
    <div class="container hideme">
        <h2 class="title">HOW IT WORKS</h2>
        <div class="row">
            <div class="col-xs-6">
                <img src="assets/images/artist.png" alt="" class="category-img">
            </div>
            <div class="col-xs-6">
                <img src="assets/images/customer.png" alt="" class="category-img">
            </div>
        </div>

        <div class="row block">
            <div class="col-xs-6">
                <p class="artist-title">
                    I AM AN ENTERTAINER
                </p>

                <p class="category-text">
                    Show everybody your talent,
                </p>
                <p class="category-text">
                    simply add your acts to your profile,
                </p>
                <p class="category-text">
                    and get more gigs!
                </p>

            </div>
            <div class="col-xs-6">
                <p class="customer-title">
                    I AM LOOKING FOR ENTERTAINMENT
                </p>
                <p class="category-text">
                    Browse all types of acts, compare profiles,
                </p>
                <p class="category-text">
                    prices and reviews.
                </p>
            </div>

            <div class="row">
                <div class="col-xs-6 divider">
                    <img src="assets/images/red.png" alt="" class="divider-arrow">
                </div>
                <div class="col-xs-6 divider right">
                    <img src="assets/images/blue.png" alt="" class="divider-arrow">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="row">
                <div class="col-xs-6 pull-left">
                    <p class="option-title">Send quotes in seconds</p>

                    <img src="assets/images/send_qoutes.png" alt="" class="options-img">
                </div>

                <div class="col-xs-6 pull-right">
                    <p class="option-title">Ask for free quotes in 2 clicks</p>

                    <img src="assets/images/ask_for_free.png" alt="" class="options-img">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 pull-left">
                    <p class="option-title">Manage your bookings</p>

                    <img src="assets/images/manage_bookings.png" alt="" class="options-img">
                </div>

                <div class="col-xs-6 pull-right">
                    <p class="option-title">Chat directly with artist</p>

                    <img src="assets/images/chat_artist.png" alt="" class="options-img">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6 divider-diagonal left">
                    <img src="assets/images/red.png" alt="" class="divider-arrow pull-right">
                </div>
                <div class="col-xs-6 divider-diagonal right">
                    <img src="assets/images/blue.png" alt="" class="divider-arrow">
                </div>
            </div>
        </div>

        <div class="col-xs-12 no-pad">
            <p class="title-secure">
                WE MAKE IT STRESS FREE
            </p>

            <div id="shield" class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <img src="assets/images/shield.png" alt="">
                    </div>
                    <div class="back">
                        <img src="assets/images/shield_back.png" alt="">
                        <a href="#" class="show-more">Show More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>