{% include 'ActedLegalDocsBundle:Default:header.html.twig' %}

<main class="how-it-works">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <h2>How it works</h2>
            </div>
        </div>
        <div class="row">
            <div class="">

                <div class="tabs">
                    <ul class="categories-menu">
                        <li class="menu-block active">
                            <a li-data href="#">For clients</a>
                        </li>
                        <li class="menu-block">
                            <a li-data href="#">For artists</a>
                        </li>
                    </ul>
                    <div>
                        <div class="active text-center">
                            <div class="col-lg-12">
                                <div class="col-lg-4">
                                    <div class="img-n img-1"></div>
                                </div>
                                <div class="col-lg-8 text-block">
                                    <p>Browse any type of entertainers</p>
                                    <p>Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet</p>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="col-lg-4">
                                    <div class="img-n img-2"></div>
                                </div>
                                <div class="col-lg-8 text-block">
                                    <p>Receive free quotes</p>
                                    <p>Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet</p>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="col-lg-4">
                                    <div class="img-n img-3"></div>
                                </div>
                                <div class="col-lg-8 text-block">
                                    <p>Chat directly with the artists</p>
                                    <p>Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet</p>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="col-lg-4">
                                    <div class="img-n img-4"></div>
                                </div>
                                <div class="col-lg-8 text-block">
                                    <p>Immediate booking confirmation</p>
                                    <p>Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet</p>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="col-lg-4">
                                    <div class="img-n img-5"></div>
                                </div>
                                <div class="col-lg-8 text-block">
                                    <p>Stress free your payment is guaranteed</p>
                                    <p>Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet</p>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="col-lg-4">
                                    <div class="img-n img-6"></div>
                                </div>
                                <div class="col-lg-8 text-block">
                                    <p>Sit back & have a blast</p>
                                    <p>Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet</p>
                                </div>
                            </div>

                        </div>

                        <div class="active text-center">
                            <div class="col-lg-12">
                                <div class="col-lg-4">
                                    <div class="img-n img-7"></div>
                                </div>
                                <div class="col-lg-8 text-block">
                                    <p>Create your profile</p>
                                    <p>Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet</p>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="col-lg-4">
                                    <div class="img-n img-8"></div>
                                </div>
                                <div class="col-lg-8 text-block">
                                    <p>Send quotes in second</p>
                                    <p>Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet</p>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="col-lg-4">
                                    <div class="img-n img-3"></div>
                                </div>
                                <div class="col-lg-8 text-block">
                                    <p>Chat directly with the artists</p>
                                    <p>Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet</p>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="col-lg-4">
                                    <div class="img-n img-9"></div>
                                </div>
                                <div class="col-lg-8 text-block">
                                    <p>Manage your bookings</p>
                                    <p>Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet</p>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="col-lg-4">
                                    <div class="img-n img-10"></div>
                                </div>
                                <div class="col-lg-8 text-block">
                                    <p>We do your paperwork</p>
                                    <p>Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet</p>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="col-lg-4">
                                    <div class="img-n img-5"></div>
                                </div>
                                <div class="col-lg-8 text-block">
                                    <p>Stress free your payment is guaranteed</p>
                                    <p>Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet</p>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="col-lg-4">
                                    <div class="img-n img-6"></div>
                                </div>
                                <div class="col-lg-8 text-block">
                                    <p>Make them smile!</p>
                                    <p>Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>

{% include 'ActedLegalDocsBundle:Default:footer.html.twig' %}