{% block menu -%}
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li><a href="{{ path('template_index') }}">Templates</a></li>
            <li><a href="{{ path('performancecontract_index') }}">Performance Contracts</a></li>
        </ul>
    </div>
{% endblock %}