<section class="spotlight">
    <div class="container hideme">
        <p class="title">
            ARTISTS SPOTLIGHT
        </p>

        <div id="carousel">
            <div class="prev-control"><i class="right fa fa-3x fa-angle-left"></i></div>

            {% for spotlight in homespotlight %}

            <div class="wrap">
                {#<a href="/profile/{{ spotlight.media.profiles.first.user.artist.slug }}">#}
                <img src="{{ spotlight.media.link }}" alt="{{ spotlight.media.name }}" />
                </a>
                <!--<span class="glyphicon glyphicon-play"></span>

                <div class="caption-block">
                    <div class="name">
                        <div class="text"></div>
                    </div>
                </div>-->
            </div>
            {% endfor %}

            <div class="next-control"><i class="right fa fa-3x fa-angle-right"></i></div>
        </div>

        <button class="browse-artists">BROWSE OUR ARTISTS</button>

    </div>
</section>