<section class="spotlight">
    <div class="container hideme">
        <p class="title">
            ARTISTS SPOTLIGHT
        </p>

        <div id="carousel">
            <div class="prev-control"><i class="right fa fa-3x fa-angle-left"></i></div>

            {% for spotlight in homespotlight %}
                {% if spotlight.media is defined and spotlight.media.link is defined %}
                    <div class="wrap">
                        <a href="/profile/{{ spotlight.slug }}">
                            <img src="{{ spotlight.media.link|imagine_filter('medium') }}" alt="{{ spotlight.name }}" />
                        </a>
                    </div>
                {% endif %}
            {% endfor %}

            <div class="next-control"><i class="right fa fa-3x fa-angle-right"></i></div>
        </div>

        <button class="browse-artists">BROWSE OUR ARTISTS</button>

    </div>
</section>