<section class="spotlight">
    <div class="container hideme">
        <p class="title">
            ARTISTS SPOTLIGHT
        </p>

        <div id="carousel">
            <div class="prev-control"><i class="right fa fa-3x fa-angle-left"></i></div>

            <div class="wrap">
                <img src="assets/images/slider/1.jpg" alt="Image" />

                <span class="glyphicon glyphicon-play"></span>

                <div class="caption-block">
                    <div class="name">
                        <div class="text">Jazz vocalist</div>
                    </div>
                </div>
            </div>

            <div class="wrap">
                <img src="assets/images/slider/2.jpg" alt="Image" />

                <span class="glyphicon glyphicon-play"></span>

                <div class="caption-block">
                    <div class="name">
                        <div class="text">Jazz vocalist</div>
                    </div>
                </div>
            </div>

            <div class="wrap">
                <img src="assets/images/slider/3.jpg" alt="Image" />

                <span class="glyphicon glyphicon-play"></span>

                <div class="caption-block">
                    <div class="name">
                        <div class="text">Jazz vocalist</div>
                    </div>
                </div>
            </div>

            <div class="wrap">
                <img src="assets/images/slider/4.jpg" alt="Image" />

                <span class="glyphicon glyphicon-play"></span>

                <div class="caption-block">
                    <div class="name">
                        <div class="text">Jazz vocalist</div>
                    </div>
                </div>
            </div>

            <div class="wrap">
                <img src="assets/images/slider/5.jpg" alt="Image" />

                <span class="glyphicon glyphicon-play"></span>

                <div class="caption-block">
                    <div class="name">
                        <div class="text">Jazz vocalist</div>
                    </div>
                </div>
            </div>

            <div class="wrap">
                <img src="assets/images/slider/6.jpg" alt="Image" />

                <span class="glyphicon glyphicon-play"></span>

                <div class="caption-block">
                    <div class="name">
                        <div class="text">Jazz vocalist</div>
                    </div>
                </div>
            </div>

            <div class="wrap">
                <img src="assets/images/slider/7.jpg" alt="Image" />

                <span class="glyphicon glyphicon-play"></span>

                <div class="caption-block">
                    <div class="name">
                        <div class="text">Jazz vocalist</div>
                    </div>
                </div>
            </div>

            <div class="wrap">
                <img src="assets/images/slider/8.jpg" alt="Image" />

                <span class="glyphicon glyphicon-play"></span>

                <div class="caption-block">
                    <div class="name">
                        <div class="text">Jazz vocalist</div>
                    </div>
                </div>
            </div>

            <div class="wrap">
                <img src="assets/images/slider/9.jpg" alt="Image" />

                <span class="glyphicon glyphicon-play"></span>

                <div class="caption-block">
                    <div class="name">
                        <div class="text">Jazz vocalist</div>
                    </div>
                </div>
            </div>

            <div class="next-control"><i class="right fa fa-3x fa-angle-right"></i></div>
        </div>

        <button class="browse-artists">BROWSE OUR ARTISTS</button>

    </div>
</section>