<section class="stay-in-touch">
    <div class="container hideme">
        <h2>Let's stay in touch</h2>

        <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam
        </p>

        <div class="form">
            <input type="text" placeholder="Enter your name">
            <input type="text" placeholder="Enter your email">

            <div class="controls">
                <div class="button-gradient filled orange">
                    <button class="btn">Subscribe</button>
                </div>
            </div>
        </div>

        <p class="follow-us">
            Follow us for exciting updates
        </p>
    </div>
</section>