<div>
    Here will be mongo integrated payment
</div>
<div>
    now here is only this infomation :)

    Click button and order will be booked and transaction will be created as it real payment and mango send ok
</div>
<form action="{{ path('order_payment_success', {"orderId":order}) }}">
    <button type="submit">Click this button to book order. This button works</button>
</form>