.requirements{margin-bottom: 70px;}
.requirement-form .holder:after{
    content: "";
    display: block;
    clear: both;
}
.requirement-form{
    height: 100%;
    background: #c6e2ff;
    padding: 28px 60px 30px 44px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    position: relative;
    z-index: 2;
}
.requirement-form input[type="text"],
.requirement-form input[type="password"],
.requirement-form input[type="email"],
.requirement-form .textarea{
    width: 100%;
    background: #fff;
    border: 1px solid #c6e2ff;
    height: 36px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 0 10px;
    outline: none;
    color: #3d4248;
    font-size: 14px;
    margin: 0 0 19px;
    font-family: LatoRegular, Serif, sans-serif;
}
.requirement-form input[type="text"].error,
.requirement-form input[type="password"].error,
.requirement-form input[type="email"].error,
.requirement-form .textarea.error{border-color: #f00;}
.requirement-form .textarea{
    height: 283px;
    padding: 10px;
    resize: none;
}
.requirements .col{
    float: left;
    margin-bottom: 42px;
    box-sizing: border-box !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 50%;
    position: relative;
    height: 554px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.requirements .col:before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 3px solid #c6e2ff;
    z-index:0;
}
.requirements .col:nth-child(odd):before{
    right: 21px;
}
.requirements .col:nth-child(even):before{
    left: 21px;
}
.requirements .col:nth-child(odd){
    padding-right: 24px;
    padding-left: 3px;
}
.requirements .col:nth-child(even){
    padding-left: 24px;
    padding-right: 3px;
}
.requirements .categories-menu{margin-top: 16px;}
.requirement-form h2{
    font-size: 18px;
    margin: 0 0 21px;
}
.requirements .add-box{
    font-size: 16px;
    color: #000;
    color: rgba(0, 0, 0, .87);
    width: 150px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -55px 0 0 -85px;
}
.requirements .add-box .btn{
    background: url("../../assets/images/add-req.png") no-repeat;
    width: 28px;
    height: 28px;
    display: block;
    border: none;
    overflow: hidden;
    text-indent: -9999px;
    cursor: pointer;
    margin: 16px auto 0;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.requirements  .btn-file{
    font-size: 14px;
    height: 34px;
    background: #dbdbdb;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #000;
    padding: 0 25px;
    border: none;
    outline: none;
}
.requirement-form .btn-close{
    overflow: hidden;
    position: absolute;
    top: 10px;
    right: 5px;
    text-indent: -9999px;
    background: url("../../assets/images/close.png") no-repeat;
    width: 12px;
    border: none;
    height: 12px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.requirement-form .btn-upload{
    background: #fff;
    border: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    overflow: hidden;
    padding: 0 20px;
    max-width: 120px;
    height: 30px;
    font-size: 14px;
    outline: none;
    float: left;
    margin-right: 10px;
}
.requirement-form .btn-upload:active{
    background: #eee;
    background: rgba(238, 238, 238, 1);
}
.requirement-form  .jFiler-items{overflow: hidden;}
.requirement-form .items-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.requirement-form .items-list li{
    float: left;
    margin: 0 2px;
    position: relative;
    width: 66px;
    height: 65px;
    overflow: hidden;
}
.requirement-form  .jFiler-item-thumb-image{
    height: 45px;
    width: 42px;
    margin: 0 auto;
    text-align: center;
}
.requirement-form  .jFiler-item-thumb-image img{
    display: block;
    height: 100%;
    width: 100%;
}
.requirement-form .jFiler-item-title{
    display: block;
    text-align: center;
    text-transform: lowercase;
}
.requirement-form .item-trash{
    position: absolute;
    right: -1px;
    top: -2px;
    background: url("../../assets/images/remove-item.png") no-repeat;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.requirement-form .btn-close{
    overflow: hidden;
    position: absolute;
    top: 15px;
    right: 15px;
    overflow: hidden !important;
    text-indent: -9999px;
    border: none;
    background: url("../../assets/images/close-modal.png") no-repeat;
    width: 28px;
    height: 28px;
}
.requirement-form .jFiler-icon-file{
    position: relative;
    width: 35px;
    height: 45px;
    display: inline-block;
    vertical-align: top;
    line-height: 45px;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
    overflow: hidden;
    box-shadow: #3f4fd3 26px -36px 0 0 inset;
    -webkit-box-shadow: #3f4fd3 26px -36px 0 0 inset;
}
.requirement-form .jFiler-icon-file:after{
    position: absolute;
    top: -1px;
    right: -1px;
    display: inline-block;
    content: '';
    border-style: solid;
    border-width: 10px 0 0 10px;
    border-color: transparent transparent transparent #DADDE1;
}
.requirement-form .jFiler-icon-file.f-file-ext-html{
    box-shadow: #abea7a 26px -36px 0 0 inset;
    -webkit-box-shadow: #abea7a 26px -36px 0 0 inset;
}
.requirement-form .jFiler-icon-file.f-file-ext-js{
    box-shadow: #4952d4 26px -38px 0 0 inset;
    -webkit-box-shadow: #4952d4 26px -36px 0 0 inset;
}
.requirement-form .jFiler-icon-file.f-file-ext-txt{
    box-shadow: #709c27 26px -38px 0 0 inset;
    -webkit-box-shadow: #709c27 26px -36px 0 0 inset;
}
.requirement-form .jFiler-icon-file.f-file-ext-json{
    box-shadow: #e83ace 26px -38px 0 0 inset;
    -webkit-box-shadow: #e83ace 26px -36px 0 0 inset;
}
.requirement-form .jFiler-icon-file.f-file-ext-pdf{
    box-shadow: #f23c0f 26px -38px 0 0 inset;
    -webkit-box-shadow: #f23c0f 26px -36px 0 0 inset;
}
.requirement-form .icon-jfi-file-image,
.requirement-form .icon-jfi-file-video,
.requirement-form .icon-jfi-file-audio{
    color: #fff;
    font: normal normal normal 14px/1 FontAwesome;
    display: inline-block;
    vertical-align: middle;
}
.requirement-form .icon-jfi-file-image:before{
    content: '\f1c5';
}
.requirement-form .icon-jfi-file-video:before{
    content: '\f1c8';
}
.requirement-form .icon-jfi-file-audio:before{
    content: '\f1c7';
}
@media (max-width: 991px){
    .requirement-form h2{
        font-size: 14px;
        margin: 0 0 15px;
    }
    .requirement-form input[type="text"],
    .requirement-form input[type="password"],
    .requirement-form input[type="email"],
    .requirement-form .textarea{margin: 0 0 15px;}
    .requirements .col{
        float: none;
        padding: 0 !important;
        margin: 0 0 15px;
        height: 400px;
        width: 100%;
    }
    .requirements .col:before{
        left: 0 !important;
        right: 0 !important;
    }
    .requirement-form .textarea{
        height: 150px;
    }
}
@media (max-width: 767px){
    .requirement-form{
        padding: 20px;
    }
}