{% include 'ActedLegalDocsBundle:Default:header.html.twig' %}

<main class="enquiries bookings">

    <div class="container">

        {% include "ActedLegalDocsBundle:ChatRoom:dashboardmenu.html.twig" %}

        <div class="summary_block">
            <p class="heading">Summary</p>
            <ul class="summary_block__ul">
                <li class="summary_block__ul__li clearfix">
                    <p>Total current bookings:</p>
                    <p class="summ">5000</p>
                    <i class="pound"></i>
                    <i class="bookings"></i>
                </li>
                <li class="summary_block__ul__li clearfix">
                    <p>Collected in escrow:</p>
                    <p class="summ">2500</p>
                    <i class="pound"></i>
                    <i class="escrow"></i>
                </li>
                <li class="summary_block__ul__li clearfix">
                    <p>Available:</p>
                    <p class="summ">2500</p>
                    <i class="pound"></i>
                    <i class="available"></i>
                    <div class="controls">
                        <div class="button-gradient filled orange">
                            <button class="btn">Release</button>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="total_collected">
                <p>TOTAL COLLECTED - PAST BOOKINGS: <span class="pound_black"><i class="pound_black"></i></span><span class="total_collected__ammount">15000</span></p>
                <i class="total_collected_bag"></i>
            </div>
        </div>

        <div class="enquiries-wrap enquires-wrap-new">
            <p class="enquiries-wrap__heading">Current bookings</p>

            <article class="enq-block clearfix enq-block_flexboxed">
                <div class="flex_1">

                    <ul class="act-request-data ul-reset">
                        <li><i class="enq-icon icon-date"></i> Date: <span class="value">22 Jan 16</span></li>
                        <li><i class="enq-icon icon-timing"></i> Timing: <span class="value">Evening</span></li>
                        <li><i class="enq-icon icon-location"></i> Location: <span class="value">Manchester</span></li>
                        <li><i class="enq-icon icon-event"></i> Event: <span class="value">Tom&Rim wedding</span></li>
                        <li><i class="enq-icon icon-client"></i> Client: <span class="value">Thomas Castagent</span>
                        </li>
                    </ul>

                </div>
                <div class="flex_2">
                    <div class="flex_2__item flex_2__item__booking">
                        <p>Booking:</p>
                        <div class="flex_2__item__services">
                            <p>5-piece Jazz band, Acrobats, Sports Act</p>
                            <p>DJ set</p>
                            <p>Sound system</p>
                        </div>
                    </div>
                    <div class="flex_2__item coloured_green">
                        <p>Deposit (50%): 1500 GBP received in escrow</p>
                    </div>
                    <div class="flex_2__item coloured_orange">
                        <p>Balance (50%): 1500 GBP unpaid</p>
                    </div>
                    <div class="flex_2__item flex_2__item-chatroom-btn">
                        <div class="controls">
                            <div class="button-gradient filled blue">
                                <button type="button" class="btn register">Chatroom</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex_3">
                    <div class="flex_3__item flex_3__ammount">
                        <p><i class="pound_black">&pound;</i>2500</p>
                    </div>
                    <div class="flex_3__item flex_3__quotation">
                        <p>Quotation</p>
                        <a href="">See</a>
                        <a href="">Download</a>
                    </div>
                    <div class="flex_3__item flex_3__invoice">
                        <p>Invoice</p>
                        <a href="">See</a>
                        <a href="">Download</a>
                    </div>
                    <div class="flex_3__item flex_3__booking-agreement">
                        <p>BookingAgreement</p>
                        <a href="">See</a>
                        <a href="">Download</a>
                    </div>
                </div>
            </article>

            <article class="enq-block clearfix enq-block_flexboxed">
                <div class="flex_1">

                    <ul class="act-request-data ul-reset">
                        <li><i class="enq-icon icon-date"></i> Date: <span class="value">22 Jan 16</span></li>
                        <li><i class="enq-icon icon-timing"></i> Timing: <span class="value">Evening</span></li>
                        <li><i class="enq-icon icon-location"></i> Location: <span class="value">Manchester</span></li>
                        <li><i class="enq-icon icon-event"></i> Event: <span class="value">Tom&Rim wedding</span></li>
                        <li><i class="enq-icon icon-client"></i> Client: <span class="value">Thomas Castagent</span>
                        </li>
                    </ul>

                </div>
                <div class="flex_2">
                    <div class="flex_2__item flex_2__item__booking">
                        <p>Booking:</p>
                        <div class="flex_2__item__services">
                            <p>5-piece Jazz band, Acrobats, Sposrts Act</p>
                            <p>DJ set</p>
                            <p>Sound system</p>
                        </div>
                    </div>
                    <div class="flex_2__item coloured_green">
                        <p>Deposit (50%): 1500 GBP received in escrow</p>
                    </div>
                    <div class="flex_2__item coloured_orange">
                        <p>Balance (50%): 1500 GBP unpaid</p>
                    </div>
                    <div class="flex_2__item flex_2__item-chatroom-btn">
                        <div class="controls">
                            <div class="button-gradient filled blue">
                                <button type="button" class="btn register">Chatroom</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex_3">
                    <div class="flex_3__item flex_3__ammount">
                        <p><i class="pound_black">&pound;</i>2500</p>
                    </div>
                    <div class="flex_3__item flex_3__quotation">
                        <p>Quotation</p>
                        <a href="">See</a>
                        <a href="">Download</a>
                    </div>
                    <div class="flex_3__item flex_3__invoice">
                        <p>Invoice</p>
                        <a href="">See</a>
                        <a href="">Download</a>
                    </div>
                    <div class="flex_3__item flex_3__booking-agreement">
                        <p>BookingAgreement</p>
                        <a href="">See</a>
                        <a href="">Download</a>
                    </div>
                </div>
            </article>

            <p class="enquiries-wrap__heading">Past bookings</p>

            <article class="enq-block clearfix enq-block_flexboxed">
                <div class="flex_1">

                    <ul class="act-request-data ul-reset">
                        <li><i class="enq-icon icon-date"></i> Date: <span class="value">22 Jan 16</span></li>
                        <li><i class="enq-icon icon-timing"></i> Timing: <span class="value">Evening</span></li>
                        <li><i class="enq-icon icon-location"></i> Location: <span class="value">Manchester</span></li>
                        <li><i class="enq-icon icon-event"></i> Event: <span class="value">Tom&Rim wedding</span></li>
                        <li><i class="enq-icon icon-client"></i> Client: <span class="value">Thomas Castagent</span>
                        </li>
                    </ul>

                </div>
                <div class="flex_2">
                    <div class="flex_2__item flex_2__item__booking">
                        <p>Booking:</p>
                        <div class="flex_2__item__services">
                            <p>5-piece Jazz band, Acrobats, Sposrts Act</p>
                            <p>DJ set</p>
                            <p>Sound system</p>
                        </div>
                    </div>
                    <div class="flex_2__item coloured_green">
                        <p>Deposit (50%): 1500 GBP received in escrow</p>
                    </div>
                    <div class="flex_2__item coloured_orange">
                        <p>Balance (50%): 1500 GBP unpaid</p>
                    </div>
                    <div class="flex_2__item flex_2__item-chatroom-btn">
                        <div class="controls">
                            <div class="button-gradient filled blue">
                                <button type="button" class="btn register">Chatroom</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex_3">
                    <div class="flex_3__item flex_3__ammount">
                        <p><i class="pound_black">&pound;</i>2500</p>
                    </div>
                    <div class="flex_3__item flex_3__quotation">
                        <p>Quotation</p>
                        <a href="">See</a>
                        <a href="">Download</a>
                    </div>
                    <div class="flex_3__item flex_3__invoice">
                        <p>Invoice</p>
                        <a href="">See</a>
                        <a href="">Download</a>
                    </div>
                    <div class="flex_3__item flex_3__booking-agreement">
                        <p>BookingAgreement</p>
                        <a href="">See</a>
                        <a href="">Download</a>
                    </div>
                </div>
            </article>

            <article class="enq-block clearfix enq-block_flexboxed">
                <div class="flex_1">

                    <ul class="act-request-data ul-reset">
                        <li><i class="enq-icon icon-date"></i> Date: <span class="value">22 Jan 16</span></li>
                        <li><i class="enq-icon icon-timing"></i> Timing: <span class="value">Evening</span></li>
                        <li><i class="enq-icon icon-location"></i> Location: <span class="value">Manchester</span></li>
                        <li><i class="enq-icon icon-event"></i> Event: <span class="value">Tom&Rim wedding</span></li>
                        <li><i class="enq-icon icon-client"></i> Client: <span class="value">Thomas Castagent</span>
                        </li>
                    </ul>

                </div>
                <div class="flex_2">
                    <div class="flex_2__item flex_2__item__booking">
                        <p>Booking:</p>
                        <div class="flex_2__item__services">
                            <p>5-piece Jazz band, Acrobats, Sposrts Act</p>
                            <p>DJ set</p>
                            <p>Sound system</p>
                        </div>
                    </div>
                    <div class="flex_2__item coloured_green">
                        <p>Deposit (50%): 1500 GBP received in escrow</p>
                    </div>
                    <div class="flex_2__item coloured_orange">
                        <p>Balance (50%): 1500 GBP unpaid</p>
                    </div>
                    <div class="flex_2__item flex_2__item-chatroom-btn">
                        <div class="controls">
                            <div class="button-gradient filled blue">
                                <button type="button" class="btn register">Chatroom</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex_3">
                    <div class="flex_3__item flex_3__ammount">
                        <p><i class="pound_black">&pound;</i>2500</p>
                    </div>
                    <div class="flex_3__item flex_3__quotation">
                        <p>Quotation</p>
                        <a href="">See</a>
                        <a href="">Download</a>
                    </div>
                    <div class="flex_3__item flex_3__invoice">
                        <p>Invoice</p>
                        <a href="">See</a>
                        <a href="">Download</a>
                    </div>
                    <div class="flex_3__item flex_3__booking-agreement">
                        <p>BookingAgreement</p>
                        <a href="">See</a>
                        <a href="">Download</a>
                    </div>
                </div>
            </article>
        </div>
    </div>

</main>

{% include 'ActedLegalDocsBundle:Default:footer.html.twig' %}