<main class="dashboard feedback client">
    <div class="container">

        {% include 'ActedLegalDocsBundle:Profile:client/client_menu.html.twig' %}
        <div class="row tip-box">
            <span class="text">Tip: once submitted, the feedback become public and appear on the artist’s profile</span>
        </div>

        <div class="row comment-area">
        </div>
    </div>
</main>