<main class="dashboard feedback">
    <div class="container">
        {% include 'ActedLegalDocsBundle:ChatRoom:dashboardmenu.html.twig' %}

        <div class="row average-rating">
            <span>Your average rating is:</span>
        </div>

        <div class="row rating-wrapper">
            <div class="rating-stars">
                <i class="star-icon filled"></i>
                <i class="star-icon filled"></i>
                <i class="star-icon filled"></i>
                <i class="star-icon unfilled"></i>
                <i class="star-icon unfilled"></i>
            </div>
            <div class="rating-rate">
                <span>3.0/5.0 (16 votes)</span>
            </div>
            <div class="rating-reach">
                <div class="custom-checkbox">
                    <input id="rating-accept-appear" name="package-check" value="" type="checkbox">
                    <label for="rating-accept-appear"></label>
                </div>
                <span>Until you reach 5 feedbacks, you can decide if they should appear on your profile or not. Simply tick this box if you want to hide them</span>
            </div>
        </div>

        <div class="row">
            <span class="feedback-list-title">6 Feedbacks</span>
        </div>

        <div class="row">
            <hr>
        </div>

        <div class="row artist-feedback">
            <div class="avatar">
                <img src="/assets/images/Avatar_profile.jpg">
            </div>
            <div class="info">
                <div><i>Good Client</i></div>
                <div>
                    <i class="star-icon filled"></i>
                    <i class="star-icon filled"></i>
                    <i class="star-icon filled"></i>
                    <i class="star-icon unfilled"></i>
                    <i class="star-icon unfilled"></i>
                </div>
                <div class="date"><i>25 December 2016</i></div>
            </div>
            <div class="comment">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
            </div>
        </div>
        <div class="row artist-feedback">
            <div class="avatar">
                <img src="/assets/images/Avatar_profile.jpg">
            </div>
            <div class="info">
                <div><i>Good Client</i></div>
                <div>
                    <i class="star-icon filled"></i>
                    <i class="star-icon filled"></i>
                    <i class="star-icon filled"></i>
                    <i class="star-icon unfilled"></i>
                    <i class="star-icon unfilled"></i>
                </div>
                <div class="date"><i>25 December 2016</i></div>
            </div>
            <div class="comment">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
            </div>
        </div>
        <div class="row artist-feedback">
            <div class="avatar">
                <img src="/assets/images/Avatar_profile.jpg">
            </div>
            <div class="info">
                <div><i>Good Client</i></div>
                <div>
                    <i class="star-icon filled"></i>
                    <i class="star-icon filled"></i>
                    <i class="star-icon filled"></i>
                    <i class="star-icon unfilled"></i>
                    <i class="star-icon unfilled"></i>
                </div>
                <div class="date"><i>25 December 2016</i></div>
            </div>
            <div class="comment">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
            </div>
        </div>
        <div class="row artist-feedback">
            <div class="avatar">
                <img src="/assets/images/Avatar_profile.jpg">
            </div>
            <div class="info">
                <div><i>Good Client</i></div>
                <div>
                    <i class="star-icon filled"></i>
                    <i class="star-icon filled"></i>
                    <i class="star-icon filled"></i>
                    <i class="star-icon unfilled"></i>
                    <i class="star-icon unfilled"></i>
                </div>
                <div class="date"><i>25 December 2016</i></div>
            </div>
            <div class="comment">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
            </div>
        </div>
    </div>
</main>