<main class="dashboard feedback client">
    <div class="container">

        {% include 'ActedLegalDocsBundle:Profile:client/client_menu.html.twig' %}
        <div class="row tip-box">
            <span class="text">Tip: once submitted, the feedback become public and appear on the artist’s profile</span>
        </div>

        <div class="row comment-area">
            <section class="col-md-12">
                <div>
                    <div class="avatar">
                        <img src="/assets/images/avatar.jpg" alt=""/>
                    </div>
                    <div class="user-info">
                        <span class="user-name">Thomas Castagent</span>
                    </div>
                    <div class="rating">
                        <i class="star-icon filled"></i>
                        <i class="star-icon filled"></i>
                        <i class="star-icon filled"></i>
                        <i class="star-icon unfilled"></i>
                        <i class="star-icon unfilled"></i>
                    </div>
                </div>

                <div class="comment-box clearfix">
                    <p class="char-count"><span class="current-count">28</span><span>/1000</span></p>
                    <textarea>This girl made our celebrati</textarea>
                    <button class="submit pull-right">Submit</button>
                </div>
            </section>
            <section class="col-md-12">
                <div>
                    <div class="avatar">
                        <img src="/assets/images/avatar.jpg" alt=""/>
                    </div>
                    <div class="user-info">
                        <span class="user-name">Thomas Castagent</span>
                    </div>
                    <div class="rating">
                        <i class="star-icon filled"></i>
                        <i class="star-icon filled"></i>
                        <i class="star-icon filled"></i>
                        <i class="star-icon unfilled"></i>
                        <i class="star-icon unfilled"></i>
                    </div>
                </div>

                <div class="comment-box clearfix">
                    <p class="char-count"><span class="current-count">0</span><span>/1000</span></p>
                    <textarea>This girl made our celebrati</textarea>
                    <button class="submit pull-right">Submit</button>
                </div>
            </section>

        </div>
    </div>
</main>