<main class="dashboard feedback client">
    <div class="container">

        <div class="row events-menu">
            <ul>
                <li class="event-item non-active">
                    <a title="Event name 2">Event name 2</a>
                </li>
                <li class="event-item active">
                    <a title="AstraZeneca 2016 Annual Party">AstraZeneca 2016 Annual Party</a>
                </li>
                <li class="event-item non-active">
                    <a title="Event name 3">Event name 3</a>
                </li>
                <li class="event-item non-active">
                    <a title="Event name 4">Event name 4</a>
                </li>
                <li class="event-item non-active">
                    <a title="Event name 5">Event name 5</a>
                </li>
            </ul>

            <div class="arrows">
                <div>
                    <i class="left"></i>
                </div>
                <div>
                    <i class="right"></i>
                </div>
            </div>

        </div>
        <div class="new-event">
            <span class="hidden-xs hidden-sm">Add Event</span>
            <i class="fa fa-plus"></i>
        </div>
        <div class="row options-menu">
            <input id="options-menu-open" name="options-menu-open" type="checkbox" class="hidden">
            <label for="options-menu-open" class="active-tab">Feedback
                <i class="fa fa-sort-desc hidden-md hidden-lg pull-right" aria-hidden="true"></i>
                <i class="fa fa-sort-asc hidden-md hidden-lg pull-right" aria-hidden="true"></i>
            </label>
            <ul>
                <li>
                    Event details
                </li>
                <li>
                    Messages
                </li>
                <li>
                    Artist selection
                </li>
                <li>
                    Payments
                </li>
                <li class="active-item">
                    Feedback
                </li>
            </ul>

        </div>
        <div class="row tip-box">
            <span class="text">Tip: once submitted, the feedback become public and appear on the artist’s profile</span>
        </div>

        <div class="row comment-area">
            <section class="col-md-12">
                <div>
                    <div class="avatar">
                        <img src="/assets/images/avatar.jpg" alt=""/>
                    </div>
                    <div class="user-info">
                        <span class="user-name">Thomas Castagent</span>
                    </div>
                    <div class="rating">
                        <i class="star-icon filled"></i>
                        <i class="star-icon filled"></i>
                        <i class="star-icon filled"></i>
                        <i class="star-icon unfilled"></i>
                        <i class="star-icon unfilled"></i>
                    </div>
                </div>

                <div class="comment-box clearfix">
                    <p class="char-count"><span class="current-count">28</span><span>/1000</span></p>
                    <textarea>This girl made our celebrati</textarea>
                    <button class="submit pull-right">Submit</button>
                </div>
            </section>
            <section class="col-md-12">
                <div>
                    <div class="avatar">
                        <img src="/assets/images/avatar.jpg" alt=""/>
                    </div>
                    <div class="user-info">
                        <span class="user-name">Thomas Castagent</span>
                    </div>
                    <div class="rating">
                        <i class="star-icon filled"></i>
                        <i class="star-icon filled"></i>
                        <i class="star-icon filled"></i>
                        <i class="star-icon unfilled"></i>
                        <i class="star-icon unfilled"></i>
                    </div>
                </div>

                <div class="comment-box clearfix">
                    <p class="char-count"><span class="current-count">0</span><span>/1000</span></p>
                    <textarea>This girl made our celebrati</textarea>
                    <button class="submit pull-right">Submit</button>
                </div>
            </section>

        </div>
    </div>
</main>