{% include 'ActedLegalDocsBundle:Default:header.html.twig' %}

<main class="requirements">
    <div class="container">
        {% include 'ActedLegalDocsBundle:ChatRoom:dashboardmenu.html.twig' %}

        <div class="row">
        </div>
    </div>
</main>


{% include 'ActedLegalDocsBundle:Default:footer.html.twig' %}
