<section id="biography" class="profile-block biography">
    {% if user %}
    <div class="title"><span>Biography</span><div id="editBiography" class=""><a href="#"><i class="fa fa-pencil-square-o"></i></a></div></div>
    <p id="biographyEditable" data-type="textarea" data-pk="{{ artist.id }}" data-title="">
        {{ artist.user.profile.description }}
    </p>
    {% else %}
        <div class="title"><span>Biography</span></div>
    <p>
        {{ artist.user.profile.description }}
    </p>
    {% endif %}
</section>