{% include 'ActedLegalDocsBundle:Default:header.html.twig' %}

<main class="dashboard feedback client" id="client-event-details">
    <div class="container no-pad client_event_details">
        {% include 'ActedLegalDocsBundle:Profile:client/client_menu.html.twig' %}
        <div class="col-md-6 col-sm-6 left_column" v-bind:data-event-id="event.id" style="display: none;">
            <div class="row">
                <div class="printer_icon">
                    <p>
                        <i class="fa fa-print" aria-hidden="true"></i>
                        Print
                    </p>
                </div>
                <label for="event_name">Event name</label>
                <input type="text" maxlength="60" v-model.lazy.trim="event.title" v-bind:value="event.title"
                       class="form-control enable_toggler" id="event_name" placeholder="Christmas party" name="name">
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 no-pad-left">
                    <label for="event_date">Date</label>
                    <input type="text" id="event_date"  v-bind:value="event.starting_date" class="date-picker form-control" placeholder="05/04/2016">
                </div>
                <div class="col-lg-6 col-md-6 no-pad-right">
                    <label class="col-xs-12 no-pad" for="event_days_duration">1 day/multiple days</label>
                    <select class="enable_toggler" data-class="selections-white low-select"
                            v-model.lazy="endingDate" name="event_days_duration" id="event_duration">
                        <option value="1">1-day event</option>
                        <option value="2">2-day event</option>
                        <option value="3">3-day event</option>
                        <option value="4">4-day event</option>
                        <option value="5">5-day event</option>
                        <option value="6">6-day event</option>
                        <option value="7">7-day event</option>
                        <option value="8">8-day event</option>
                        <option value="9">9-day event</option>
                        <option value="10">10-day event</option>
                        <option value="11">11-day event</option>
                        <option value="12">12-day event</option>
                        <option value="13">13-day event</option>
                        <option value="14">14-day event</option>
                        <option value="15">15-day event</option>
                        <option value="16">16-day event</option>
                        <option value="17">17-day event</option>
                        <option value="18">18-day event</option>
                        <option value="19">19-day event</option>
                        <option value="20">20-day event</option>
                        <option value="21">21-day event</option>
                        <option value="22">22-day event</option>
                        <option value="23">23-day event</option>
                        <option value="24">24-day event</option>
                        <option value="25">25-day event</option>
                        <option value="26">26-day event</option>
                        <option value="27">27-day event</option>
                        <option value="28">28-day event</option>
                        <option value="29">29-day event</option>
                        <option value="30">30-day event</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 no-pad-left">
                    <label for="event_time">Event timing</label>
                    <input id="event_time" v-model.lazy.trim="event.timing" v-bind:value="event.timing" type="text"
                           class="form-control enable_toggler" placeholder="Evening" name="event_time">
                </div>
                <div class="col-lg-6 col-md-6 no-pad-right">
                    <label for="event-country">Country</label>
                    <input disabled type="text" class="form-control" id="event-country" placeholder="United Kingdom"
                           name="country">
                </div>
            </div>
            <div class="row">
                <label for="event_address">Address</label>
                <input type="text" v-model.lazy.trim="event.location" class="form-control enable_toggler"
                       v-bind:value="event.location" id="event_address" placeholder="Type the address here...">
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 no-pad-left">
                    <label for="venue_type">Venue type</label>
                    <select class="select_width_101 enable_toggler" data-class="selections-white low-select"
                            name="venue_type" id="venue_type" v-model="selectedVenue">
                        <option v-for="venue in venues" v-bind:value="venue.id">${venue.venue_type}</option>
                    </select>
                </div>
                <div class="col-lg-6 col-md-6 no-pad-right">
                    <label for="guests_count">Number of guests</label>
                    <select class="select_width_101 enable_toggler" data-class="selections-white low-select"
                            name="number_of_guests" id="guests_count" v-model.lazy="selectedGuest">
                        <option v-for="guest in guests" v-bind:value="guest.value">${ guest.text }</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <label for="additional_info">Additional info</label>
                <span class="additional_info_counter"><span class="current-count">0</span><span>/1000</span></span>
                <textarea maxlength="200" v-bind:value="event.comments" class="form-control additional_info_input enable_toggler"
                          id="additional_info" placeholder="Put your comments here"></textarea>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 right_column" style="visibility: hidden;">
            <div class="printer_icon">
                <p>
                    <i class="fa fa-print" aria-hidden="true"></i>
                    Print
                </p>
            </div>
            <div class="entertainer_block">
                <div class="entertainer info_block">
                    <div class="row">
                        <div class="col-md-4 name">
                            <h3>Frederic Sharp</h3>
                        </div>
                        <div class="col-md-8 total_summ">
                            <h3>£ 5000</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Act 1 -Jazz Band</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Act 1 -Jazz Band</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Extra 1</p>
                        </div>
                    </div>
                </div>
                <div class="perfomance_details info_block">
                    <div class="row">
                        <div class="col-md-3">
                            <p>Performance time:</p>
                        </div>
                        <div class="col-md-9">
                            <p>6:30 PM</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <p>Additional info:</p>
                        </div>
                        <div class="col-md-9">
                            <p>This performance will continue for 3 days. First two days will start from 2 pm till 3 am.
                                And third day will be a full day party!</p>
                        </div>
                    </div>
                </div>
                <div class="payment_details info_block">
                    <div class="row">
                        <div class="col-md-3">
                            <p>Payment:</p>
                        </div>
                        <div class="col-md-7">
                            <p>Deposit: 1,500 GBP received via secured payment</p>
                        </div>
                        <div class="col-md-2 non-refundable">
                            <p>Non - refundable</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <p></p>
                        </div>
                        <div class="col-md-7">
                            <p>Balance: 1,500 GBP unpaid</p>
                        </div>
                        <div class="col-md-2">
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="contact_details info_block">
                    <div class="row">
                        <div class="col-md-3">
                            <p>Contact details:</p>
                        </div>
                        <div class="row col-md-9">
                            <p>+44828495829</p>
                            <p>Alex.vorobev@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="controls">
                    <div class="button-gradient filled">
                        <button class="btn">Chatroom</button>
                    </div>
                </div>
            </div>
            <div class="entertainer_block">
                <div class="entertainer info_block">
                    <div class="row">
                        <div class="col-md-4 name">
                            <h3>Frederic Sharp</h3>
                        </div>
                        <div class="col-md-8 total_summ">
                            <h3>£ 5000</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Act 1 -Jazz Band</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Act 1 -Jazz Band</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Extra 1</p>
                        </div>
                    </div>
                </div>
                <div class="perfomance_details info_block">
                    <div class="row">
                        <div class="col-md-3">
                            <p>Performance time:</p>
                        </div>
                        <div class="col-md-9">
                            <p>6:30 PM</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <p>Additional info:</p>
                        </div>
                        <div class="col-md-9">
                            <p>This performance will continue for 3 days. First two days will start from 2 pm till 3 am.
                                And third day will be a full day party!</p>
                        </div>
                    </div>
                </div>
                <div class="payment_details info_block">
                    <div class="row">
                        <div class="col-md-3">
                            <p>Payment:</p>
                        </div>
                        <div class="col-md-7">
                            <p>Deposit: 1,500 GBP received via secured payment</p>
                        </div>
                        <div class="col-md-2 non-refundable">
                            <p>Non - refundable</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <p></p>
                        </div>
                        <div class="col-md-7">
                            <p>Balance: 1,500 GBP unpaid</p>
                        </div>
                        <div class="col-md-2">
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="contact_details info_block">
                    <div class="row">
                        <div class="col-md-3">
                            <p>Contact details:</p>
                        </div>
                        <div class="row col-md-9">
                            <p>+44828495829</p>
                            <p>Alex.vorobev@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="controls">
                    <div class="button-gradient filled">
                        <button class="btn">Chatroom</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% include 'ActedLegalDocsBundle:Default:footer.html.twig' %}