<section id="feedbacks" class="profile-block feedbacks">
    <div class="title">
                <span>
                     6 Feedback's
                </span>

        <div class="stars">
            <div class="star">
                <div style="" class="fill-star"></div>
            </div>

            <div class="star">
                <div style="" class="fill-star"></div>
            </div>

            <div class="star">
                <div style="" class="fill-star"></div>
            </div>

            <div class="star">
                <div style="" class="fill-star"></div>
            </div>

            <div class="star">
                <div style="" class="fill-star"></div>
            </div>
        </div>
    </div>

    <article class="feedback-block">
        {{ dump(artist.ratings.first()) }}
        <div class="row">
            <div class="avatar">
                <img src="assets/images/avatar.jpg" alt="Avatar">
                <p class="name">Natali</p>
            </div>

            <div class="text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                </p>
            </div>
        </div>
    </article>

    <article class="feedback-block">
        <div class="row">
            <div class="avatar">
                <img src="assets/images/avatar.jpg" alt="Avatar">
                <p class="name">Natali</p>
            </div>

            <div class="text show-more">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <a href="#" class="more">+more</a>

                <div class="gradient"></div>
            </div>
        </div>
    </article>

    <article class="feedback-block">
        <div class="row">
            <div class="avatar">
                <img src="assets/images/avatar.jpg" alt="Avatar">
                <p class="name">Natali</p>
            </div>

            <div class="text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                </p>
            </div>
        </div>
    </article>

    <ul class="row pagination">
        <li>
            <a href="#">
                <div class="button active">1</div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="button">2</div>
            </a>
        </li>
        <li>
            <a class="next-page" href="#"><span class="glyphicon glyphicon-play"></span></a>
        </li>
    </ul>

    <button class="show-more-info">
        Show More
    </button>
</section>