
{% for feedback in feedbacks %}

    <article class="feedback-block">
        <div class="row">
            <div class="avatar">
                <img src="{{ feedback.event.user.avatar }}" alt="Avatar">
                <p class="name">{{ feedback.event.user.firstname }}</p>
            </div>

            <div class="text">
                <p>
                    {{ feedback.comments }}
                </p>
            </div>
        </div>
    </article>

{% endfor %}

<div class="navigation">
    {{ knp_pagination_render(feedbacks) }}
</div>

    <button class="show-more-info">
        Show More
    </button>
