

    <article class="feedback-block">
        {{ dump(artist.ratings.first()) }}
        <div class="row">
            <div class="avatar">
                <img src="assets/images/avatar.jpg" alt="Avatar">
                <p class="name">Natali</p>
            </div>

            <div class="text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                </p>
            </div>
        </div>
    </article>

    <ul class="row pagination">
        <li>
            <a href="#">
                <div class="button active">1</div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="button">2</div>
            </a>
        </li>
        <li>
            <a class="next-page" href="#"><span class="glyphicon glyphicon-play"></span></a>
        </li>
    </ul>

    <button class="show-more-info">
        Show More
    </button>
