<div class="modal registration-modal fade" id="changeBgModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="changeImageContiner"></div>
            <div class="actions">
                <a class="btn file-btn">
                    <input type="file" id="uploadBg" value="Choose a file" accept="image/*" />
                </a>
                <button class="upload-resultBg">Upload Image</button>
            </div>
        </div>
    </div>
</div>


<div class="modal registration-modal fade" id="changeImageModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="changeImageContiner"></div>
            <div class="actions">
                <a class="btn file-btn">
                    <input type="file" id="uploadAvatar" value="Choose a file" accept="image/*" />
                </a>
                <button class="upload-resultAvatar">Upload Image</button>
            </div>
        </div>
    </div>
</div>

<div class="modal registration-modal fade" id="addImageModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="changeImageContiner"></div>
            <div class="actions">
                <a class="btn file-btn">
                    <input type="file" id="uploadNewMedia" value="Choose a file" accept="image/*" />
                </a>
                <button class="upload-NewMedia">Upload Image</button>
            </div>
        </div>
    </div>
</div>


<div class="modal free-quote-modal fade" id="freeQuoteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    <div class="warn">!</div>
                    Tip: Enter your event details below and it will automatically apply to your next quote requests
                </h4>
            </div>
            <form>
                <div class="modal-body">

                    <div class="row clearfix">

                        <div class="col-lg-12 form-group">
                            <label for="event_name">Name your event</label>
                            <input type="text" class="form-control" id="event_name" placeholder="Name your event">
                        </div>

                        <div class="col-lg-6 form-group">
                            <label for="event_date">Date</label>
                            <input type="text" class="form-control" id="event_date" placeholder="05/04/2016">
                        </div>

                        <div class="col-lg-6 form-group">
                            <label for="event_city">City</label>
                            <input type="text" class="form-control" id="event_city" placeholder="London">
                        </div>

                        <div class="col-lg-6 form-group">
                            <label for="event_time">Time</label>
                            <input type="text" class="form-control" id="event_time" placeholder="Evening">
                        </div>

                        <div class="col-lg-6 form-group">
                            <label for="event_location">Location</label>
                            <input type="text" class="form-control" id="event_location" placeholder="Event location">
                        </div>

                        <div class="col-lg-6 form-group">
                            <label class="col-xs-12 no-pad" for="event_type">Event type</label>
                            <select data-class="selections-white" name="event_type" id="event_type">
                            </select>
                        </div>

                        <div class="col-lg-6 form-group">
                            <label class="col-xs-12 no-pad" for="venue_type">Venue type</label>
                            <select data-class="selections-white" name="venue_type" id="venue_type">
                            </select>
                        </div>

                        <div class="row col-lg-12 guests-num">
                            <label class="col-xs-12 no-pad">Number of guests</label>

                            <div class="custom-checkbox">
                                <input id="count_1" name="guests_count" type="radio">
                                <label for="count_1">Less than 50</label>
                            </div>
                            <div class="custom-checkbox">
                                <input id="count_2" name="guests_count" type="radio">
                                <label for="count_2">50-100</label>
                            </div>
                            <div class="custom-checkbox">
                                <input id="count_3" name="guests_count" type="radio">
                                <label for="count_3">100-500</label>
                            </div>
                            <div class="custom-checkbox">
                                <input id="count_4" name="guests_count" type="radio">
                                <label for="count_4">500+</label>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="modal-footer">
                    <div class="col-lg-12">
                        <div class="col-lg-12 no-pad quoteRequestArtistData">
                            <img class="quote-profile-avatar avatar" src="" alt="avatar"/>

                            <div class="quote-profile-info">
                                <h2></h2>
                                <p></p>
                            </div>
                        </div>

                        <ul class="profile-categories requestQuotePerformances ul-reset">
                        </ul>

                        <div class="row add-comment-btn">
                            <a href="#" id="comment_toggle">Add a comment</a>
                        </div>

                        <div class="col-lg-12 no-pad" id="comment_area" style="display: none">
                            <textarea name="quote-profile-desc" class="quote-profile-desc" placeholder="Write a message to the Artist if you have any question about his performance or if you want to provide with more details about your event"></textarea>
                        </div>

                        <div class="controls">
                            <div class="button-gradient filled">
                                <button class="btn">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>